@charset "UTF-8";
@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  src: url("../fonts/NotoSerifKR-Regular.eot");
  src: url("../fonts/NotoSerifKR-Regular.woff") format("woff"), url("../fonts/NotoSerifKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 100;
  src: url("../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 200;
  src: url("../fonts/NotoSansCJKkr-Light.eot");
  src: url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 300;
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Black.eot");
  src: url("../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url("../fonts/ProximaNova-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  font-weight: 400;
  src: url("../fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

.joins_gnb {
  height: 32px;
}

h2, h3, h4, h5 {
  font-weight: 600;
  word-break: keep-all;
}

strong {
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: 'Noto Sans CJK KR', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.075em;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

#container {
  min-width: 1200px;
}

h2 {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #1d1d1d;
}

h2 span {
  font-weight: 300;
}

h2 + p {
  font-size: 19px;
  line-height: 1.6;
}

section {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

button {
  padding: 0;
  border: 0 none;
  cursor: pointer;
}

p {
  word-break: keep-all;
}

i {
  font-style: normal;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 Sans-serif;
  visibility: hidden;
}

:focus {
  outline: none;
}

#container {
  padding-top: 78px;
}

/* 하단 카피라이트 관련 클레스 영역 */
.copyright {
  position: relative;
  width: 100%;
  padding: 70px 0;
  background: #020300;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  z-index: 1;
}

.copyright .wrap {
  width: 1100px;
  margin: 0 auto;
}

.copyright:after {
  clear: both;
  content: '';
  display: table;
}

.copyright .copy_left {
  width: 52%;
  text-align: left;
  float: left;
}

.copyright .copy_right {
  width: 350px;
  text-align: left;
  float: right;
}

.copyright .copy_right p.p-text {
  font-weight: 400;
  color: #cacaca;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p.p_colnom {
  line-height: 22px;
}

.copyright .copy_right p .footer_mail {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #cacaca;
  text-decoration: none;
  font-family: 'noto-sans-scott', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p .footer_mail i {
  width: 18px;
  height: 12px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -150px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  vertical-align: baseline;
  opacity: 1;
}

.copyright .copy_right p .footer_tel {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #818181;
  text-decoration: none;
  font-family: 'noto-sans-scott', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p .footer_tel i {
  top: 2px;
  width: 16px;
  height: 16px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -170px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 0px;
  vertical-align: baseline;
  margin-left: 10px;
  opacity: .5;
}

.copyright p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  color: #cacaca;
}

.copyright p.p-text {
  font-weight: 400;
  letter-spacing: 1px;
}

.copyright p .bold {
  font-weight: 600;
}

.copyright p + p {
  margin-top: 10px;
}

/* 하단 카피라이트 관련 클레스 영역 끝 */
.rooftop {
  opacity: 1;
}

.content__container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: calc(100vh - 78px);
}

.visual-intro {
  width: 100%;
  height: 100%;
  background: #A81B21;
}

.visual-intro__type-text {
  background: url("../img/intro-NatureKillerCell.png") no-repeat;
  position: absolute;
  width: 1416px;
  height: 224px;
  left: 50%;
  margin-left: -708px;
  top: 50%;
  margin-top: -112px;
  opacity: 0;
}

.visual-intro__type-text.overlay {
  background: url("../img/intro-NatureKillerCell_overlay.png") no-repeat;
  opacity: 0;
}

.visual-intro__illust {
  opacity: 0;
  -webkit-transform: translate(20px, 20px);
          transform: translate(20px, 20px);
  background: url("../img/intro_illust.png") no-repeat;
  width: 450px;
  height: 1208px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -280px;
  margin-top: -320px;
}

.visual-intro__area {
  position: absolute;
  width: 1560px;
  top: 50%;
  left: 50%;
  margin: -116px 0 0 -760px;
  height: 232px;
}

.visual-intro__area--headline-first, .visual-intro__area--headline-last {
  opacity: 0;
  text-indent: -99999px;
  display: inline-block;
}

.visual-intro__area--headline-first:after, .visual-intro__area--headline-last:after {
  clear: both;
  display: table;
  content: '';
}

.visual-intro__area--headline-first {
  -webkit-transform: translateX(440px);
          transform: translateX(440px);
  background: url("../img/title_text_1.png") no-repeat;
  width: 548px;
  height: 148px;
  float: left;
  margin-top: 45px;
  margin-left: 10px;
}

.visual-intro__area--headline-last {
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  background: url("../img/title_text_2.png") no-repeat;
  width: 447px;
  height: 162px;
  float: right;
  margin-top: 36px;
  margin-right: 145px;
}

.visual-intro__area-button {
  position: absolute;
  left: 50%;
  top: 310px;
  margin-left: -350px;
  width: 1260px;
  margin-left: -650px;
}

.visual-intro__area--goToTest, .visual-intro__area--goToStory {
  width: 280px;
  height: 62px;
  color: #fff;
  border: 2px solid #fff;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  background: none;
  position: absolute;
  opacity: 0;
}

.visual-intro__area--goToTest {
  left: 0;
}

.visual-intro__area--goToStory {
  right: 0;
}

.quiz-area {
  width: 100%;
  height: 100%;
  background: #A81B21;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: absolute;
  top: 0;
}

.quiz-area__inner {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 50%;
  margin: -300px 0 0 -700px;
  height: 600px;
}

.quiz-area__inner--headline {
  text-align: center;
}

.quiz-area__inner--headline-text {
  color: #fff;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.05em;
}

.quiz-area__inner--headline-text .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.quiz-area__inner--headline-text .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.quiz-area__inner--headline-text .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__inner--cover {
  background: #fff;
  width: 848px;
  height: 354px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -177px;
  margin-left: -424px;
  -webkit-box-shadow: 30px 30px 40px #00000027;
          box-shadow: 30px 30px 40px #00000027;
}

.quiz-area__inner--start .start-explanatory {
  text-align: center;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  padding: 114px 0;
}

.quiz-area__inner--start .start-explanatory-point {
  color: #BA0000;
}

.quiz-area__inner--start .start-btn {
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  border: 2px solid #fff;
  width: 280px;
  height: 58px;
  text-align: center;
  background: #A81B21;
  margin-top: 87px;
  position: absolute;
  left: 50%;
  margin-left: -140px;
}

.quiz-area__inner--progress {
  width: 850px;
  position: absolute;
  top: -40px;
}

.quiz-area__inner--progress .progress__box {
  width: 82px;
  float: left;
  margin-right: 3px;
  text-align: center;
}

.quiz-area__inner--progress .progress__box .this-quoetion {
  color: #fff;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 0;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.quiz-area__inner--progress .progress__box .this-quoetion.thisActive {
  opacity: 1;
}

.quiz-area__inner--progress .progress__box .this-quoetion:before {
  content: '';
  background: url("../img/progress-chk.png") no-repeat;
  width: 9px;
  height: 9px;
  display: inline-block;
  position: absolute;
  margin-top: -2px;
  margin-left: 20px;
}

.quiz-area__inner--progress .progress__box .chk {
  background: #fff;
  width: 100%;
  height: 2px;
  display: block;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.35;
}

.quiz-area__inner--progress .progress__box .chk.active {
  opacity: 1;
}

.quiz-area__inner--progress .progress__box:after {
  clear: both;
  display: table;
  content: '';
}

.quiz-area__inner--question {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.quiz-area__inner--question-step1 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step2 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step3 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step4 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step5 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step6 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step7 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step8 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step9 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question-step10 {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.quiz-area__inner--question .question--text {
  color: #000000;
  font-size: 38px;
  line-height: 52px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  text-align: center;
  padding: 75px 0;
}

.quiz-area__inner--question .question__input {
  text-align: center;
}

.quiz-area__inner--question .question__input input[type='radio'] {
  display: none;
}

.quiz-area__inner--question .question__input input[type='radio'] + label {
  display: inline-block;
  cursor: pointer;
  width: 152px;
  height: 45px;
  text-align: center;
  border-radius: 28px;
  position: relative;
  border: 2px solid #A81B21;
  color: #A81B21;
  background: #fff;
  margin: 0 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 0;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
}

.quiz-area__inner--question .question__input input[type='radio']:checked + label {
  background: #A81B21;
  color: #fff;
}

.quiz-area__inner--question .quiz__btn--next, .quiz-area__inner--question .quiz__btn--finish {
  opacity: 0;
  pointer-events: none;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  color: #fff;
  background: none;
  position: absolute;
  bottom: -110px;
  width: 125px;
  left: 50%;
  margin-left: -62.5px;
  text-align: center;
}

.quiz-area__inner--question .quiz__btn--next:after, .quiz-area__inner--question .quiz__btn--finish:after {
  content: '';
  background: url("../img/quiz__btn-underline.png") no-repeat;
  width: 132px;
  height: 13px;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -66px;
}

.quiz-area__inner--result {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
}

.quiz-area__inner--result .result-area {
  width: 100%;
  height: 100%;
}

.quiz-area__inner--result .result-area .score-number {
  width: 420px;
  height: 240px;
  margin-top: 56px;
  display: inline-block;
  border-right: 1px solid #212121;
}

.quiz-area__inner--result .result-area .score-number .number-graph {
  position: absolute;
  width: 240px;
  left: 100px;
}

.quiz-area__inner--result .result-area .score-number .number-graph path {
  fill: #f2f2f2;
}

.quiz-area__inner--result .result-area .score-number .number-graph path.active {
  fill: #A81B21;
}

.quiz-area__inner--result .result-area .score-number .number-text-strong {
  font-size: 23px;
  line-height: 31px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  color: #242424;
  position: absolute;
  top: 155px;
  left: 150px;
  width: 150px;
  text-align: center;
}

.quiz-area__inner--result .result-area .score-number .number-text-strong .sc-num {
  color: #A81B21;
  font-size: 58px;
  line-height: 33px;
  letter-spacing: 0;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__inner--result .result-area .score-number .number-text-default {
  position: absolute;
  top: 205px;
  left: 155px;
  width: 150px;
  text-align: center;
  color: #242424;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.quiz-area__inner--result .result-area .score-grade {
  position: absolute;
  top: 0;
  width: 420px;
  height: 240px;
  margin-top: 56px;
  display: inline-block;
  padding: 65px 0px 0px 50px;
}

.quiz-area__inner--result .result-area .score-grade .grade-title {
  color: #A81B21;
  font-size: 22px;
  line-height: 37px;
  letter-spacing: -0.04em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.quiz-area__inner--result .result-area .score-grade .grade-etc {
  color: #242424;
  margin-top: 25px;
  font-size: 20px;
  line-height: 29px;
  letter-spacing: -0.04em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 200;
}

.quiz-area__inner--result .quiz-explain-btn {
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  border: 2px solid #fff;
  width: 280px;
  height: 58px;
  text-align: center;
  background: #A81B21;
  margin-top: 87px;
  position: absolute;
  left: 50%;
  margin-left: -140px;
}

.quiz-area__explain {
  position: absolute;
  width: 830px;
  top: 50%;
  left: 50%;
  margin: -375px 0 0 -415px;
  height: 750px;
  opacity: 0;
  pointer-events: none;
}

.quiz-area__explain .explain__header {
  width: 100%;
  height: 40px;
  display: block;
  position: absolute;
  z-index: 2;
  background: #A81B21;
}

.quiz-area__explain .explain__header--list-title {
  color: #fff;
  float: left;
  text-align: center;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(1) {
  width: 620px;
  text-align: left;
  padding-left: 30px;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(2) {
  width: 80px;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(3) {
  width: 65px;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(4) {
  width: 65px;
}

.quiz-area__explain .explain__header--list-title:after {
  clear: both;
  display: table;
  content: '';
}

.quiz-area__explain .explain__container {
  width: 100%;
  height: 1000px;
  overflow: hidden;
  position: relative;
}

.quiz-area__explain .explain__list {
  position: absolute;
  top: 40px;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

.quiz-area__explain .explain__list-item {
  background: #fff;
  width: 100%;
  height: 57px;
  position: relative;
}

.quiz-area__explain .explain__list-item .number {
  color: #212121;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: 0;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  width: 60px;
  display: inline-block;
  text-align: center;
  padding-top: 12px;
}

.quiz-area__explain .explain__list-item .quistion-text {
  color: #212121;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  display: inline-block;
  width: 590px;
}

.quiz-area__explain .explain__list-item .answer-status--true {
  background: url("../img/answer-status--true.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  opacity: 0;
}

.quiz-area__explain .explain__list-item .answer-status--true.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .answer-status--false {
  background: url("../img/answer-status--false.png") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  opacity: 0;
}

.quiz-area__explain .explain__list-item .answer-status--false.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .select_true {
  background: url("../img/select_true.png") no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  width: 30px;
  margin-left: 55px;
  position: relative;
  top: 3px;
  opacity: 0.3;
}

.quiz-area__explain .explain__list-item .select_true.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .select_false {
  background: url("../img/select_false.png") no-repeat;
  width: 21px;
  height: 21px;
  display: inline-block;
  position: relative;
  top: 3px;
  opacity: 0.3;
}

.quiz-area__explain .explain__list-item .select_false.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .moreExplain {
  background: url("../img/more-explain.png") no-repeat;
  background-position: center;
  display: inline-block;
  text-indent: -99999px;
  width: 60px;
  height: 55px;
  margin: 0 auto;
}

.quiz-area__explain .explain__list-more {
  width: 100%;
  background: #212121;
  height: 135px;
  margin-bottom: 10px;
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.quiz-area__explain .explain__list-more.view {
  height: 135px;
}

.quiz-area__explain .explain__list-more.view.md {
  height: 170px;
}

.quiz-area__explain .explain__list-more.view.long {
  height: 205px;
}

.quiz-area__explain .explain__list-more.view.super {
  height: 240px;
}

.quiz-area__explain .explain__list-more .status-chk {
  width: 50px;
  display: inline-block;
  position: absolute;
  top: 20px;
  left: 75px;
}

.quiz-area__explain .explain__list-more .status-chk--title {
  color: #D0D0D0;
  font-size: 14px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  display: block;
  text-align: center;
}

.quiz-area__explain .explain__list-more .status-chk .chk-false {
  background: url("../img/chk-false.png") no-repeat;
  position: relative;
  height: 32px;
  width: 100%;
  background-size: 32px 32px;
  background-position: center;
  display: inline-block;
}

.quiz-area__explain .explain__list-more .status-chk .chk-true {
  background: url("../img/chk-true.png") no-repeat;
  position: relative;
  height: 32px;
  width: 100%;
  background-size: 32px 32px;
  background-position: center;
  display: inline-block;
}

.quiz-area__explain .explain__list-more .status-explain {
  display: inline-block;
  width: 525px;
  color: #D0D0D0;
  text-align: justify;
  margin-left: 140px;
  margin-top: 20px;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.natural-killer-cell {
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: absolute;
  top: 0;
}

.natural-killer-cell__type {
  position: absolute;
  width: 1560px;
  left: 50%;
  height: 350px;
  top: 50%;
  bottom: 0;
  margin-left: -780px;
  margin-top: -175px;
  text-align: center;
  padding-top: 55px;
}

.natural-killer-cell__type .killer__type--text {
  width: 1560px;
  height: 170px;
}

.natural-killer-cell__type .killer__type--text .st0 {
  fill: #BA0000;
}

.natural-killer-cell__type .killer__type--text .st1 {
  fill: #212121;
}

.natural-killer {
  width: 100%;
  height: 100%;
  background: #F2F2F2;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: absolute;
  top: 0;
}

.natural-killer__explain {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -700px;
  height: 500px;
  text-align: center;
}

.natural-killer__explain--headline {
  color: #181310;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -0.05em;
}

.natural-killer__explain--headline .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.natural-killer__explain--headline .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.natural-killer__explain--text-box {
  width: 950px;
  margin: 45px auto 0 auto;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
}

.natural-killer__explain--text-box-mg {
  margin: 35px 0;
}

.assassin-info {
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: absolute;
  top: 0;
  overflow: hidden;
}

.assassin-info__visual {
  height: 100%;
  background: #d00116;
}

.assassin-info__visual--list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  margin-top: 0;
  overflow: hidden;
}

.assassin-info__visual--list .talent__object-1 {
  opacity: 0;
  background: url("../img/talent__object-1.png") no-repeat;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  top: 80px;
  background-position: center;
}

.assassin-info__visual--list .talent__object-2 {
  opacity: 0;
  background: url("../img/talent__object-2.png") no-repeat;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  top: 80px;
  background-position: center;
}

.assassin-info__visual--list .talent__object-3 {
  opacity: 0;
  background: url("../img/talent__object-3.png") no-repeat;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  top: 80px;
  background-position: center;
}

.assassin-info__visual--list .talent__object-4 {
  opacity: 0;
  background: url("../img/talent__object-4.png") no-repeat;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  top: 80px;
  background-position: center;
}

.assassin-info__visual--list .villain__object-1 {
  background: url("../img/villain__object-1.png") no-repeat;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
  background-position: 50% 100%;
  height: 150%;
  background-size: 160%;
  -webkit-transform: scale(1.3) translateY(-350px);
          transform: scale(1.3) translateY(-350px);
  opacity: 0;
}

.assassin-info__visual--list-origin {
  float: left;
  width: 25%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.assassin-info__visual--list-origin:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--character-origin {
  background: url("../img/origin__character.png") no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-position: 0% 70%;
}

.assassin-info__visual--bg-origin {
  background: #d00116;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.assassin-info__visual--list-talent {
  float: left;
  width: 25%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.assassin-info__visual--list-talent:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--character-talent {
  background: url("../img/talent__character.png") no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  -webkit-transform: scale(1.6) translateX(40px);
          transform: scale(1.6) translateX(40px);
  top: 80px;
}

.assassin-info__visual--bg-talent {
  background: url("../img/talent__bg.jpg") no-repeat;
  background-position: right;
  background-size: 200% 100%;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.assassin-info__visual--list-hero {
  float: left;
  width: 25%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.assassin-info__visual--list-hero:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--character-hero {
  background: url("../img/hero__character.png") no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  background-size: 72%;
  -webkit-transform: translate(30px, 0px);
          transform: translate(30px, 0px);
}

.assassin-info__visual--bg-hero {
  background: url("../img/hero__bg.jpg") no-repeat;
  background-position: center;
  background-size: 300% 100%;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.assassin-info__visual--list-villain {
  float: left;
  width: 25%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.assassin-info__visual--list-villain:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--character-villain {
  background: url("../img/villain__character.png") no-repeat;
  background-position: center;
  pointer-events: none;
  position: absolute;
  width: 100%;
  bottom: 0;
  background-size: 100%;
  height: 100%;
  background-position: 50% 100%;
  height: 150%;
  background-size: 160%;
  -webkit-transform: scale(1.2) translateY(-50px);
          transform: scale(1.2) translateY(-50px);
}

.assassin-info__visual--bg-villain {
  background: url("../img/villain__bg.jpg") no-repeat;
  height: 120%;
  background-position: 50% 100%;
  background-size: 350% 150%;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  pointer-events: none;
}

.assassin-info__visual--scene {
  color: #fff;
  position: absolute;
  bottom: 50px;
  width: 100%;
  pointer-events: none;
}

.assassin-info__visual--scene-typo-origin {
  display: block;
  text-indent: -99999px;
  background: url("../img/scene-typo-origin.png") no-repeat;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-position: center;
}

.assassin-info__visual--scene-typo-talent {
  display: block;
  text-indent: -99999px;
  background: url("../img/scene-typo-talent.png") no-repeat;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-position: center;
}

.assassin-info__visual--scene-typo-hero {
  display: block;
  text-indent: -99999px;
  background: url("../img/scene-typo-hero.png") no-repeat;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-position: center;
}

.assassin-info__visual--scene-typo-villain {
  display: block;
  text-indent: -99999px;
  background: url("../img/scene-typo-villain.png") no-repeat;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  background-position: center;
}

.assassin-info__visual--scene-typo-underline {
  display: inline-block;
  width: 250px;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 95px;
  left: 50%;
  margin-left: -125px;
}

.assassin-info__visual--scene-concise {
  font-size: 29px;
  line-height: 54px;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  text-align: center;
  pointer-events: none;
}

.assassin-info__visual--navigation {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -61px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.assassin-info__visual--navigation-btn {
  cursor: pointer;
  float: left;
  padding: 5px 6px;
  margin: 0 4px;
}

.assassin-info__visual--navigation-btn svg, .assassin-info__visual--navigation-btn i {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.assassin-info__visual--navigation-btn .item {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #D0D0D0;
  display: inline-block;
  pointer-events: none;
}

.assassin-info__visual--navigation-btn .home {
  padding: 0;
  margin-top: -5px;
}

.assassin-info__visual--navigation-btn .home path {
  fill: #D0D0D0;
}

.assassin-info__visual--navigation-btn .active-motion {
  opacity: 0;
  width: 44px;
  height: 44px;
  background: #BA0000;
  border-radius: 50%;
  display: inline-block;
  top: -20px;
  left: -22px;
  position: relative;
  pointer-events: none;
}

.assassin-info__visual--navigation-btn .active-motion.bounce {
  opacity: 0.17;
  -webkit-animation: sk-bounce 1.2s infinite ease-in-out;
          animation: sk-bounce 1.2s infinite ease-in-out;
}

.assassin-info__visual--navigation-btn.active .item {
  background: #BA0000;
}

.assassin-info__visual--navigation-btn.active .home {
  fill: #BA0000;
}

.assassin-info__visual--navigation-btn:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--navigation-LeftRight {
  opacity: 0;
  pointer-events: none;
}

.assassin-info__visual--navigation-LeftRight .arrow-btn-left, .assassin-info__visual--navigation-LeftRight .arrow-btn-right {
  cursor: pointer;
  width: 9vw;
  height: 9vw;
  position: absolute;
  top: 50%;
  margin-top: -87px;
  text-indent: -99999px;
}

.assassin-info__visual--navigation-LeftRight .arrow-btn-left {
  background: url("../img/navigation-left.png") no-repeat;
  background-size: 100%;
  left: 0;
}

.assassin-info__visual--navigation-LeftRight .arrow-btn-right {
  background: url("../img/navigation-right.png") no-repeat;
  background-size: 100%;
  right: 0;
}

.assassin-info__visual--content {
  position: absolute;
  top: 0;
  width: 1200px;
  height: 600px;
  left: 50%;
  top: 50%;
  margin-top: -300px;
  margin-left: -600px;
  pointer-events: none;
}

.assassin-info__visual--content .content--title {
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.06em;
  color: #212121;
  pointer-events: none;
}

.assassin-info__visual--content .content--title .title-thin {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.assassin-info__visual--content .content--title .title-strong {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.assassin-info__visual--content .text-pro {
  pointer-events: none;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  color: #212121;
  margin: 35px 0;
  text-align: left;
}

.assassin-info__visual--content--origin {
  position: absolute;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.assassin-info__visual--content--origin .content--title {
  position: absolute;
  left: 600px;
  top: 30px;
}

.assassin-info__visual--content--origin .content--title .title-thin {
  display: block;
}

.assassin-info__visual--content--origin-text-area {
  position: absolute;
  width: 530px;
  top: 70px;
  right: 70px;
}

.assassin-info__visual--content--origin-text-area .text-pro:nth-of-type(1) {
  margin-top: 90px;
}

.assassin-info__visual--content--talent {
  position: absolute;
  opacity: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.assassin-info__visual--content--talent .content--title {
  position: absolute;
  top: 55px;
  left: 160px;
}

.assassin-info__visual--content--talent-text-area {
  position: absolute;
  width: 630px;
  top: 145px;
  left: 225px;
}

.assassin-info__visual--content--talent .mechanism__box {
  position: absolute;
  width: 410px;
  right: -160px;
  height: 100%;
}

.assassin-info__visual--content--talent .mechanism__box--title {
  color: #212121;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 15px;
}

.assassin-info__visual--content--talent .mechanism__box--t, .assassin-info__visual--content--talent .mechanism__box--nk {
  background: #fff;
  width: 100%;
  height: 215px;
  position: relative;
}

.assassin-info__visual--content--talent .mechanism__box--t .cancer-cell, .assassin-info__visual--content--talent .mechanism__box--nk .cancer-cell {
  background: url("../img/cancer-cell.png") no-repeat;
  width: 120px;
  height: 123px;
  position: absolute;
  top: 50px;
  left: 205px;
}

.assassin-info__visual--content--talent .mechanism__box--t .t-cell-3 {
  position: absolute;
  background: url("../img/t-cell.png") no-repeat;
  width: 105px;
  height: 103px;
  top: 70px;
  left: 80px;
  z-index: 2;
}

.assassin-info__visual--content--talent .mechanism__box--t .t-question-mark {
  position: absolute;
  background: url("../img/question-mark.png") no-repeat;
  z-index: 2;
  width: 40px;
  height: 55px;
  top: 30px;
  left: 170px;
}

.assassin-info__visual--content--talent .mechanism__box--nk {
  margin-top: 125px;
  margin-bottom: 25px;
}

.assassin-info__visual--content--talent .mechanism__box--nk .nk-cell-3 {
  position: absolute;
  background: url("../img/nk-cell.png") no-repeat;
  width: 102px;
  height: 102px;
  top: 70px;
  left: 80px;
  z-index: 1;
}

.assassin-info__visual--content--talent .mechanism__box--nk .nk-boom {
  position: absolute;
  background: url("../img/nk-boom.png") no-repeat;
  width: 96px;
  height: 68px;
  top: 20px;
  left: 145px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.assassin-info__visual--content--talent .mechanism__box--nk .nk-weapon-1, .assassin-info__visual--content--talent .mechanism__box--nk .nk-weapon-2 {
  position: absolute;
  background: #3B5AC3;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.assassin-info__visual--content--talent .mechanism__box--nk .nk-weapon-1 {
  width: 63px;
  height: 8px;
  top: 105px;
  left: 165px;
}

.assassin-info__visual--content--talent .mechanism__box--nk .nk-weapon-2 {
  width: 28px;
  height: 8px;
  top: 125px;
  left: 165px;
}

.assassin-info__visual--content--talent .mechanism__box--nk .cancer-cell {
  z-index: 2;
}

.assassin-info__visual--content--hero {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.assassin-info__visual--content--hero .content--title {
  text-align: center;
  margin-top: -15px;
}

.assassin-info__visual--content--hero-text-area {
  position: absolute;
  width: 915px;
  left: 50%;
  margin-left: -457.5px;
}

.assassin-info__visual--content--hero-text-area .text-pro {
  text-align: center;
}

.assassin-info__visual--content--hero .procedure {
  position: absolute;
  top: 30px;
  left: 50%;
  margin-left: -570px;
  width: 1100px;
  height: 580px;
}

.assassin-info__visual--content--hero .procedure__inner-text {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  color: #212121;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.assassin-info__visual--content--hero .procedure__inner-text-str {
  font-size: 22px;
  line-height: 54px;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  color: #fff;
  position: relative;
  top: 60px;
  display: block;
  text-align: center;
}

.assassin-info__visual--content--hero .procedure-nk {
  background: url("../img/procedure-nk.png") no-repeat;
  width: 181px;
  height: 181px;
  position: absolute;
  top: 162px;
  left: 308px;
}

.assassin-info__visual--content--hero .procedure-cancer {
  background: url("../img/procedure-cancer.png") no-repeat;
  width: 197px;
  height: 197px;
  position: absolute;
  top: 155px;
  right: 50px;
}

.assassin-info__visual--content--hero .procedure-etc {
  background: #C6C6C6;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  position: absolute;
  bottom: 30px;
}

.assassin-info__visual--content--hero .procedure-etc.num2 {
  left: 40px;
}

.assassin-info__visual--content--hero .procedure-etc.num3 {
  left: 190px;
}

.assassin-info__visual--content--hero .procedure-etc.num4 {
  left: 610px;
}

.assassin-info__visual--content--hero .procedure-etc.num4 .procedure__inner-text {
  margin-top: 30px;
}

.assassin-info__visual--content--hero .procedure .procedure-arrow-text {
  color: #212121;
  font-size: 14px;
  line-height: 0;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  text-align: center;
  display: block;
}

.assassin-info__visual--content--hero .procedure-line {
  height: 2px;
  background: #C6C6C6;
  display: inline-block;
}

.assassin-info__visual--content--hero .procedure-arrow {
  background: url("../img/procedure-arrow.png") no-repeat;
  width: 8px;
  height: 9px;
  display: inline-block;
  position: absolute;
}

.assassin-info__visual--content--hero .procedure .procedure-step1 {
  position: absolute;
  top: 230px;
  left: 525px;
}

.assassin-info__visual--content--hero .procedure .procedure-step1 .procedure-line {
  width: 290px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.assassin-info__visual--content--hero .procedure .procedure-step1 .procedure-arrow {
  top: 12px;
  right: -2px;
}

.assassin-info__visual--content--hero .procedure .procedure-step2 {
  position: absolute;
  top: 360px;
  left: 240px;
}

.assassin-info__visual--content--hero .procedure .procedure-step2 .procedure-line {
  width: 110px;
  position: absolute;
  left: -81px;
  top: -54px;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.assassin-info__visual--content--hero .procedure .procedure-step2 .procedure-arrow {
  top: 20px;
  left: -51px;
}

.assassin-info__visual--content--hero .procedure .procedure-step3 {
  position: absolute;
  top: 465px;
  left: 360px;
}

.assassin-info__visual--content--hero .procedure .procedure-step3 .procedure-line {
  width: 220px;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.assassin-info__visual--content--hero .procedure .procedure-step3 .procedure-arrow {
  top: 12px;
}

.assassin-info__visual--content--hero .procedure .procedure-step4 {
  position: absolute;
  right: 230px;
  top: 360px;
}

.assassin-info__visual--content--hero .procedure .procedure-step4 .procedure-line {
  position: absolute;
  width: 110px;
  -webkit-transform-origin: left;
          transform-origin: left;
  top: 30px;
  left: -60px;
}

.assassin-info__visual--content--hero .procedure .procedure-step4 .procedure-arrow {
  -webkit-transform: rotate(75deg);
          transform: rotate(75deg);
  top: -52px;
  left: 16px;
}

.assassin-info__visual--content--villain {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

.assassin-info__visual--content--villain .content--title {
  text-align: center;
}

.assassin-info__visual--content--villain-card .card-list__panel {
  width: 378px;
  height: 467px;
  background: #fff;
  float: left;
  margin-top: 35px;
  color: #212121;
  padding: 40px 24px 0 24px;
}

.assassin-info__visual--content--villain-card .card-list__panel:nth-of-type(2) {
  margin: 35px 33px 0 33px;
}

.assassin-info__visual--content--villain-card .card-list__panel--title {
  font-size: 30px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  display: block;
  text-align: center;
}

.assassin-info__visual--content--villain-card .card-list__panel--detail {
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  margin-top: 25px;
}

.assassin-info__visual--content--villain-card .card-list__panel:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--content--villain-card .card-list__underline {
  background: url("../img/list-underline.png") no-repeat;
  width: 310px;
  height: 2px;
  display: inline-block;
}

.assassin-info__visual--content--origin-typo {
  background: url("../img/origin__typo.png") no-repeat;
  background-size: 100% 100%;
  width: 1146px;
  height: 599px;
  left: 195px;
  opacity: 0;
  position: absolute;
}

.assassin-info__visual--content--talent-typo {
  background: url("../img/talent__typo.png") no-repeat;
  background-size: 100% 100%;
  width: 1291px;
  height: 580px;
  left: -40px;
  opacity: 0;
  position: absolute;
}

.assassin-info__visual--content--hero-typo {
  background: url("../img/hero__typo.png") no-repeat;
  background-size: 100% 100%;
  width: 884px;
  height: 599px;
  left: 160px;
  opacity: 0;
  position: absolute;
}

.assassin-info__visual--content--villain-typo {
  background: url("../img/villain__typo.png") no-repeat;
  background-size: 100% 100%;
  width: 1313px;
  height: 580px;
  left: -55px;
  opacity: 0;
  position: absolute;
}

.epilogue {
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: absolute;
  top: 0;
  overflow: hidden;
}

.epilogue__inner {
  position: absolute;
  width: 1120px;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -560px;
  height: 280px;
  color: #fff;
}

.epilogue__inner--area {
  width: 450px;
  float: right;
}

.epilogue__inner--area-headline {
  color: #fff;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -0.05em;
}

.epilogue__inner--area-headline .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.epilogue__inner--area-headline .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.epilogue__inner--area-explain {
  margin-top: 55px;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.epilogue__inner--area:after {
  clear: both;
  display: table;
  content: '';
}

.epilogue__background {
  width: 100%;
  height: 100%;
}

.epilogue__background-illust {
  background: url("../img/epilogue_illust.png") no-repeat;
  width: 970px;
  height: 1600px;
  position: absolute;
  left: 50%;
  margin-left: -640px;
  background-size: 80%;
}

.epilogue__background-rain1 {
  background: url("../img/epilogue_rain_1.png") no-repeat;
}

.epilogue__background-rain2 {
  background: url("../img/epilogue_rain_2.png") no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.epilogue__background-rain3 {
  background: url("../img/epilogue_rain_3.png") no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.epilogue__background-rain1 {
  z-index: 2;
  width: 970px;
  height: 1600px;
  position: absolute;
  left: 50%;
  margin-left: -640px;
  background-size: 80%;
}

.epilogue .video__cover {
  background: #212121;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
}

.epilogue .outro__inner--video-play {
  background: #0C0D0E;
  border: 2px solid #A81B21;
  border-radius: 70px;
  width: 298px;
  height: 76px;
  margin-top: 40px;
  margin-left: 10px;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
  z-index: 10;
  position: relative;
}

.epilogue .outro__inner--video-play-text {
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
  color: #D63636;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  margin-left: 8px;
}

.epilogue .outro__inner--video-play-icon {
  position: relative;
  top: 4px;
}

.epilogue .outro__inner--video-play-icon path {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  fill: #d63636;
}

.epilogue .outro__inner--video-play:hover {
  background: #A81B21;
}

.epilogue .outro__inner--video-play:hover .outro__inner--video-play-text {
  color: #fff;
}

.epilogue .outro__inner--video-play:hover .outro__inner--video-play-icon path {
  fill: #fff;
}

.epilogue .outro__inner--video-play:hover-text {
  color: #fff;
}

.epilogue .outro__inner--video-play:hover-icon path {
  fill: #fff;
}

.epilogue .outro__video {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 998px;
  height: 561px;
  margin-left: -499px;
  margin-top: -280px;
}

.epilogue .outro__video--panel-in {
  width: 100%;
  height: 100%;
}

.epilogue .close-video {
  position: absolute;
  z-index: 11;
  width: 49px;
  height: 49px;
  background: url("../img/clode-video-btn.png") no-repeat;
  text-indent: -99999px;
  top: 80px;
  left: 50%;
  margin-left: 580px;
}

.outro {
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
  position: absolute;
  top: 0;
  overflow: hidden;
}

.outro .outro__inner {
  z-index: 2;
  position: absolute;
  width: 1120px;
  top: 50%;
  left: 50%;
  margin: -270px 0 0 -560px;
  height: 540px;
  color: #212121;
}

.outro .outro__inner--headline {
  color: #10A0DB;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  font-weight: 600;
}

.outro .outro__inner--headline .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.outro .outro__inner--headline .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.outro .outro__inner--text-first, .outro .outro__inner--text-second {
  color: #1D1D1D;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  margin: 25px 0;
}

.outro .outro__inner--text-second {
  color: #015AAB;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.outro .outro__inner--quiz, .outro .outro__inner--homepage {
  border: 2px solid #10A0DB;
  border-radius: 70px;
  width: 298px;
  height: 76px;
  background: none;
  margin-top: 40px;
  margin-left: 10px;
}

.outro .outro__inner--quiz .outro__inner--btn-text, .outro .outro__inner--homepage .outro__inner--btn-text {
  color: #10A0DB;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.copyright {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(195px);
          transform: translateY(195px);
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.17;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.17;
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 0.1;
  }
}

@media all and (max-height: 820px) {
  .quiz-area__explain {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media all and (max-width: 1599px) {
  .natural-killer__type {
    width: 1200px;
    margin-left: -600px;
    margin-top: -140px;
  }
  .visual-intro__area--headline {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    margin-top: 30px;
  }
  .visual-intro__type-text {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .quiz-area__inner--start .start-btn {
    margin-top: 80px;
  }
  .assassin-info__visual--content--origin,
  .assassin-info__visual--content--talent,
  .assassin-info__visual--content--hero,
  .assassin-info__visual--content--villain {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media all and (max-width: 1919px) {
  .assassin-info__visual--navigation-LeftRight .arrow-btn-left,
  .assassin-info__visual--navigation-LeftRight .arrow-btn-right {
    margin-top: 0;
  }
}

@media all and (min-width: 1921px) {
  .epilogue__background-illust, .epilogue__background-rain1 {
    background-size: 100%;
    margin-left: -750px;
  }
}

@media all and (max-width: 1920px) and (min-height: 1350px) {
  .epilogue__background-illust, .epilogue__background-rain1 {
    background-size: 86%;
  }
}

body.ie11 .quiz__btn--next:after, body.ie11 .quiz__btn--finish:after, body.ie10 .quiz__btn--next:after, body.ie10 .quiz__btn--finish:after {
  bottom: 0;
}

body.ie11 .quiz-area__inner--result .result-area .score-number .number-graph, body.ie10 .quiz-area__inner--result .result-area .score-number .number-graph {
  top: 0;
}
/*# sourceMappingURL=style.css.map */