@charset "UTF-8";
@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  src: url("../fonts/NotoSerifKR-Regular.eot");
  src: url("../fonts/NotoSerifKR-Regular.woff") format("woff"), url("../fonts/NotoSerifKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 100;
  src: url("../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 200;
  src: url("../fonts/NotoSansCJKkr-Light.eot");
  src: url("../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 300;
  src: url("../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 400;
  src: url("../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 500;
  src: url("../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
  src: url("../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 700;
  src: url("../fonts/NotoSansCJKkr-Black.eot");
  src: url("../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

.joins_gnb {
  height: 32px;
}

h2, h3, h4, h5 {
  font-weight: 600;
  word-break: keep-all;
}

strong {
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

video {
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  font-family: 'Noto Sans CJK KR', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.075em;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

#container {
  min-width: 1200px;
}

h2 {
  font-size: 50px;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #1d1d1d;
}

h2 span {
  font-weight: 300;
}

h2 + p {
  font-size: 19px;
  line-height: 1.6;
}

section {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

button {
  padding: 0;
  border: 0 none;
  cursor: pointer;
}

p {
  word-break: keep-all;
}

i {
  font-style: normal;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 Sans-serif;
  visibility: hidden;
}

:focus {
  outline: none;
}

#container {
  padding-top: 78px;
}

/* 하단 카피라이트 관련 클레스 영역 */
.copyright {
  position: relative;
  width: 100%;
  padding: 70px 0;
  background: #efefef;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
  z-index: 1;
}

.copyright .wrap {
  width: 1100px;
  margin: 0 auto;
}

.copyright:after {
  clear: both;
  content: '';
  display: table;
}

.copyright .copy_left {
  width: 52%;
  text-align: left;
  float: left;
}

.copyright .copy_right {
  width: 350px;
  text-align: left;
  float: right;
}

.copyright .copy_right p.p-text {
  font-weight: 400;
  color: #818181;
  letter-spacing: .5px;
  font-size: 14px;
  font-family: 'Noto Sans KR', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p.p_colnom {
  line-height: 22px;
}

.copyright .copy_right p .footer_mail {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #818181;
  text-decoration: none;
  font-family: 'noto-sans-scott', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p .footer_mail i {
  width: 18px;
  height: 12px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -150px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  vertical-align: baseline;
  opacity: 0.5;
}

.copyright .copy_right p .footer_tel {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #818181;
  text-decoration: none;
  font-family: 'noto-sans-scott', 'Malgun Gothic', sans-serif;
}

.copyright .copy_right p .footer_tel i {
  top: 2px;
  width: 16px;
  height: 16px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -170px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 0px;
  vertical-align: baseline;
  margin-left: 10px;
  opacity: .5;
}

.copyright p {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  color: #666;
}

.copyright p.p-text {
  font-weight: 400;
  letter-spacing: 1px;
}

.copyright p .bold {
  font-weight: 600;
}

.copyright p + p {
  margin-top: 10px;
}

/* 하단 카피라이트 관련 클레스 영역 끝 */
.rooftop {
  opacity: 1;
}

.visual-intro {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 78px);
  min-height: 700px;
  background: #A00C19;
}

.visual-intro__type-text {
  position: absolute;
  width: 2080px;
  height: 372px;
  top: 50%;
  left: 50%;
  margin-left: -1062px;
  margin-top: -185px;
}

.visual-intro__illust {
  background: url("../img/intro_illust.png") no-repeat;
  width: 1344px;
  height: 800px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -400px;
  margin-left: -672px;
}

.visual-intro__area {
  position: absolute;
  width: 1560px;
  top: 50%;
  left: 50%;
  margin: -116px 0 0 -760px;
  outline: 1px solid #ddd;
  height: 232px;
}

.visual-intro__area--headline-first, .visual-intro__area--headline-last {
  text-indent: -99999px;
  display: inline-block;
}

.visual-intro__area--headline-first:after, .visual-intro__area--headline-last:after {
  clear: both;
  display: table;
  content: '';
}

.visual-intro__area--headline-first {
  background: url("../img/title_text_1.png") no-repeat;
  width: 617px;
  height: 220px;
  margin-top: 15px;
  float: left;
}

.visual-intro__area--headline-last {
  background: url("../img/title_text_2.png") no-repeat;
  width: 597px;
  height: 224px;
  float: right;
}

.visual-intro__cell-polygon-icon {
  display: inline-block;
  position: absolute;
  background: url("../img/polygon.svg") no-repeat;
  background-size: 100% 100%;
}

.visual-intro__cell-polygon-icon:nth-of-type(1) {
  width: 187px;
  height: 186px;
}

.visual-intro__cell-polygon-icon:nth-of-type(2) {
  width: 75px;
  height: 74px;
  left: 200px;
}

.quiz-area {
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: #F2F2F2;
}

.quiz-area__inner {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 50%;
  margin: -260px 0 0 -700px;
  outline: 1px solid #ddd;
  height: 520px;
}

.quiz-area__inner--headline {
  text-align: center;
}

.quiz-area__inner--headline-text {
  color: #181310;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -0.05em;
}

.quiz-area__inner--headline-text .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.quiz-area__inner--headline-text .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.quiz-area__inner--headline-text-point {
  margin-left: 15px;
  color: #8B8B8B;
  font-size: 49px;
  line-height: 59px;
  letter-spacing: -0.05em;
}

.quiz-area__inner--question {
  margin-top: 74px;
}

.quiz-area__inner--question-sec {
  margin: 0 auto;
  background: #fff;
  width: 740px;
  height: 70px;
  border-radius: 10px;
}

.quiz-area__inner--question-sec-text {
  color: #212121;
  text-align: center;
  padding: 18px 0;
  font-size: 38px;
  line-height: 33px;
  letter-spacing: -0.05em;
}

.quiz-area__inner--progress {
  position: absolute;
  width: 700px;
  bottom: 100px;
  left: 50%;
  margin-left: -350px;
}

.quiz-area__inner--progress .mark {
  position: absolute;
  top: -9px;
}

.quiz-area__inner--progress .mark .radius {
  display: inline-block;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  background: #D8D8D8;
  float: left;
}

.quiz-area__inner--progress .mark .radius:not(:first-child) {
  margin-left: 56px;
}

.quiz-area__inner--progress .mark .radius i {
  background: #BA0000;
  width: 12px;
  height: 12px;
  display: block;
  border-radius: 50%;
  margin: 3px;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.quiz-area__inner--progress .mark .radius.active i {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.quiz-area__inner--progress .mark .radius:after {
  clear: both;
  display: table;
  content: '';
}

.quiz-area__inner--progress .line {
  width: 680px;
  height: 1px;
  background: #D8D8D8;
}

.quiz-area__inner--progress .line .active-line {
  background: #BA0000;
  width: 43%;
  height: 1px;
  position: absolute;
  top: 0;
  left: 0;
}

.immunity-relation {
  width: 100%;
  height: 800px;
  overflow: hidden;
  background: #fff;
}

.immunity-relation__inner {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 50%;
  margin: -260px 0 0 -700px;
  outline: 1px solid #ddd;
  height: 520px;
}

.immunity-relation__inner--headline {
  text-align: center;
}

.immunity-relation__inner--headline-text {
  color: #181310;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -0.05em;
}

.immunity-relation__inner--headline-text .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.immunity-relation__inner--headline-text .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.natural-killer {
  width: 100%;
  height: 1150px;
  overflow: hidden;
  background: #F2F2F2;
}

.natural-killer__explain {
  position: absolute;
  width: 1400px;
  top: 50%;
  left: 50%;
  margin: -370px 0 0 -700px;
  outline: 1px solid #ddd;
  height: 500px;
  text-align: center;
}

.natural-killer__explain--headline {
  color: #181310;
  font-size: 40px;
  line-height: 53px;
  letter-spacing: -0.05em;
}

.natural-killer__explain--headline .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.natural-killer__explain--headline .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.natural-killer__explain--text-box {
  width: 910px;
  margin: 45px auto 0 auto;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.05em;
}

.natural-killer__explain--text-box-mg {
  margin: 35px 0;
}

.natural-killer__type {
  position: absolute;
  width: 100%;
  height: 350px;
  outline: 1px solid #000;
  bottom: 0;
  text-align: center;
  padding-top: 55px;
}

.assassin-info {
  width: 100%;
  overflow: hidden;
}

.assassin-info__visual--list-origin {
  float: left;
  width: 25%;
  height: 800px;
  background: url("../img/origin.png") no-repeat;
  background-position: center;
}

.assassin-info__visual--list-origin:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--list-talent {
  float: left;
  width: 25%;
  height: 800px;
  background: url("../img/talent.png") no-repeat;
  background-position: center;
}

.assassin-info__visual--list-talent:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--list-hero {
  float: left;
  width: 25%;
  height: 800px;
  background: url("../img/hero.png") no-repeat;
  background-position: center;
}

.assassin-info__visual--list-hero:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--list-villain {
  float: left;
  width: 25%;
  height: 800px;
  background: url("../img/villain.png") no-repeat;
  background-position: center;
}

.assassin-info__visual--list-villain:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info__visual--scene {
  color: #fff;
}

.assassin-info__visual--scene-feature {
  font-family: Alternate Gothic Compressed ATF;
  font-size: 80px;
  line-height: 115px;
  letter-spacing: 0;
  width: 250px;
  border-bottom: 1px solid #fff;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.assassin-info__visual--scene-concise {
  font-size: 29px;
  line-height: 54px;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  text-align: center;
}

.epilogue__box {
  width: 100%;
  overflow: hidden;
  background: #000;
}

.epilogue__box--area {
  color: #fff;
}

.outro__video {
  width: 100%;
  overflow: hidden;
}

@-webkit-keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes test {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */