@import 'common';
@import 'footer';

//오픈시 제거하자
.rooftop {opacity: 1;}

@mixin clear{
    clear: both;
    display: table;
    content : '';
}

$imgPath : '../img/';
$white : #fff;

@mixin box_container( $w:1400px, $mgTop:0 , $mgRight:0, $mgBottom:0, $mgLeft:-700px, $top:50%, $left:50% ){
    position: absolute;
    width: $w;
    top: $top;
    left: $left;
    margin: $mgTop $mgRight $mgBottom $mgLeft;
    outline: 1px solid #ddd;
}

@mixin coverBg($imgName){
    background: url($imgPath + $imgName) no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

@mixin fontInfo($size, $lh, $ls){
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin headlineText( $cr:#181310, $fs: 40px, $lh: 53px, $ls:-0.05em ){
    color: $cr;
        @include fontInfo($fs, $lh, $ls);
    .demilight{
        @include fw-demilight;
    }
    .highlight{
        @include fw-bold;
    }
}

.content__container{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 78px);
}

.visual-intro{
    width: 100%;
    height: 100%;
    background: #A00C19;
    &__type-text{
        position: absolute;
        width: 2080px;
        height: 372px;
        top: 50%;
        left: 50%;
        margin-left: -1062px;
        margin-top: -185px;
    }
    &__illust{
        background: url($imgPath + 'intro_illust.png') no-repeat;
        width: 1344px;
        height: 800px;
        position: absolute;
        left: 50%;
        top: 50%;
        //outline: 1px solid;
        margin-top: -400px;
        margin-left: -672px;
    }
    &__area{
        @include box_container( 1560px, -116px, 0, 0, -760px, 50%, 50% );
        height: 232px;
        &--headline{
            &-first, &-last{
                text-indent: -99999px;
                display: inline-block;
                &:after{
                    @include clear;
                }
            }
            &-first{
                background: url($imgPath + 'title_text_1.png') no-repeat;
                width: 617px;
                height: 220px;
                margin-top: 15px;
                float: left;
            }
            &-last{
                background: url($imgPath + 'title_text_2.png') no-repeat;
                width: 597px;
                height: 224px;
                float: right;
            }
        }
    }
    &__cell-polygon{
        &-icon{
            display: inline-block;
            position: absolute;
            background: url($imgPath + 'polygon.svg') no-repeat;
            background-size: 100% 100%;
            &:nth-of-type(1){
                width: 187px;
                height: 186px;
            }
            &:nth-of-type(2){
                width: 75px;
                height: 74px;
                left: 200px;
            }
        }
    }
}

.quiz-area{
    width: 100%;
    height: 100%;
    background: #F2F2F2;

    transform: translateY(100vh);
    position: absolute;
    top: 0;

    &__inner{
        @include box_container( 1400px, -260px, 0, 0, -700px, 50%, 50% );
        height: 520px;
        &--headline{
            text-align: center;
            &-text{
                @include headlineText();
                &-point{
                    margin-left: 15px;
                    color: #8B8B8B;
                    @include fontInfo(49px, 59px, 0);
                    @include ProximaNova;

                }
            }
        }
        &--question{
            height: 190px;
            overflow: hidden;
            margin-top: 120px;
            outline: 1px solid red;
            &-sec{
                margin: 10px auto;
                background: #fff;
                width: 710px;
                pointer-events: none;
                transition: all 0.8s;
                &-text{
                    color: #C5C5C5;
                    min-width: 620px;
                    display: inline-block;
                    padding: 9px 10px 9px 35px;
                    @include fontInfo(20px, 33px, -0.05em);
                    @include fw-regular;
                }
                &.active{
                    pointer-events: visible;
                    background: #212121;
                    .quiz-area__inner--question-sec-text{
                        color: #FFFFFF;
                        @include fw-black;
                    }
                }
            }
        }
        &--explain{
            margin: 0 auto 10px auto;
            height: 0;
            overflow: hidden;
            transform: translateY(0px);
            transform-origin: top;
            background: #212121;
            width: 710px;
            transition: all 1s;
            &.active{
                height: 125px;
                &.reHeight{
                    height: 160px;
                }
            }
            &.bottom{
                transform-origin: bottom;
                margin-bottom: 0px;
            }
            
            &-text{
                color: #D0D0D0;
                @include fontInfo(20px, 33px, -0.05em);
                @include fw-regular;
                padding: 15px 30px;
            }
        }
        .explain__gloup{
            opacity: 0;
            pointer-events: none;
            position: absolute;
            left: 50%;
            height: 600px;
            top: -40px;
            margin-left: 350px;
        }
        &--explainBtn{
            position: absolute;
            width: 58px;
            top: 0;
            position: relative;
            height: 50px;
            margin: 11px 20px 10px 20px;
            &-show, &-hide{
                position: absolute;
                top: 0;
                width: 100%;
                height: 26px;
                background: #212121;
                color: #FFFFFF;
                @include fontInfo(12px, 28px, -0.05em);
                @include fw-medium;
                border-radius: 3px;
            }
            &-hide{
                opacity: 0;
                pointer-events: none;
            }
            

        }
        &--result{
            position: absolute;
            left: 50%;
            margin-left: -125px;
            outline: 1px solid;
            top: 395px;
            opacity: 0;
            pointer-events: none;
            background: #BA0000;
            color: #FFFFFF;
            @include fontInfo(20px, 33px, -0.05em);
            @include fw-medium;
            width: 250px;
            height: 46px;
            border-radius: 3px;
        }
        &--progress{
            position: absolute;
            width: 700px;
            top: 510px;
            left: 50%;
            margin-left: -350px;
            .mark{
                position: absolute;
                top: -9px;
                .radius{
                    border-radius: 50%;
                    width: 18px;
                    height: 18px;
                    background: #D8D8D8;
                    float: left;
                    &:not(:first-child){
                        margin-left: 56px;
                    }
                    i{
                        background: #BA0000;
                        width: 12px;
                        height: 12px;
                        display: block;
                        border-radius: 50%;
                        margin: 3px;
                        transform: scale(0);
                        transition: all 0.5s;
                    }
                    &.active{
                        i{
                            transform: scale(1);
                        }
                    }
                    &:after{
                        @include clear;
                    }
                }
            }
            .line{
                width: 680px;
                height: 2px;
                background: #D8D8D8;
                overflow: hidden;
                position: relative;
                left: 2px;
                .active-line{
                    transform-origin: left;
                    transform: translateX(-670px);
                    background: #BA0000;
                    width: 680px;
                    height: 2px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
        }
    }
    #quiz-area__form{
        .quix-form__button{
            display: inline-block;
            min-width: 80px;
            .md-radio{
                width: 100%;
                height: 45px;
                display: inline-block;
            }
            input[type='radio']{
                display:none;
                + label{
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    background: #F4F4F4;
                    cursor: pointer;
                    margin: 0 4px;
                    position: relative;
                    top: 7px;
                    &.correct{
                        background: #0965C1;
                        svg{
                            line, g{
                                stroke: #FFFFFF !important;
                            }
                        }
                    }
                }
                + label.true{
                    > svg{
                        width: 15px;
                        height: 14px;
                        margin: 8px;
                        g{
                            stroke: #CECECE;
                        }
                    }
                }
                + label.false{
                    > svg{
                        width: 15px;
                        height: 12px;
                        margin: 9px 8px;
                        line{
                            stroke: #CECECE;
                        }
                    }
                }
                &:checked{
                    + label{
                        background: #BA0000;
                        transition: all 0.5s;
                        > svg{
                            g, line{
                                stroke: #fff;
                                transition: all 0.5s;
                            }
                        }
                        &.correct{
                            background: #BA0000;
                            svg{
                                line, g{
                                    stroke: #ffffff !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .before{
            input[type='radio']{
                &:checked{
                    + label{
                        background: #ADADAD;
                    }
                }
            }
        }
    }
}

.immunity-relation{
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__inner{
        @include box_container( 1400px, -260px, 0, 0, -700px, 50%, 50% );
        height: 520px;
        &--headline{
            text-align: center;
            &-text{
                @include headlineText();
            }
        }
        &--chart{
            outline: 1px solid red;
            width: 710px;
            height: 470px;
            position: absolute;
            left: 50%;
            margin-left: -355px;
            .imsi{
                background: url($imgPath + '임시.PNG') no-repeat;
                width: 732px;
                height: 316px;
                opacity: 0.3;
                position: absolute;
                top: 104px;
                left: -25px;
            }
            .cell-area{
                width: 640px;
                height: 260px;
                outline: 1px solid;
                position: absolute;
                left: 50%;
                margin-left: -320px;
                top: 120px;
                path{
                    fill: #4e4e4e;
                }
                
                /*
                .scene_one_to{
                    visibility: hidden;
                }
                g{
                    
                    &:nth-of-type(1){
                        transform: scale(0.9) translate(68px, 132px) rotate(-125deg);
                    }
                    &:nth-of-type(2){
                        transform: scale(0.65) translate(0px, 170px);
                    }
                    &:nth-of-type(3){
                        transform: scale(0.5) translate(25px, 380px);
                    }
                    &:nth-of-type(4){
                        transform: scale(0.3) translate(220px, 540px);
                    }
                    &:nth-of-type(5){
                        transform: scale(0.5) translate(190px, 240px);
                    }
                    
                }
                */
            }
        }
    }
}

.natural-killer{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__explain{
        @include box_container( 1400px, -370px, 0, 0, -700px, 50%, 50% );
        height: 500px;
        text-align: center;
        &--headline{
            @include headlineText();
        }
        &--text-box{
            width: 950px;
            margin: 45px auto 0 auto;
            @include fontInfo(20px, 33px, -0.05em);
            &-mg{
                margin: 35px 0;
            }
        }
    }
    &__type{
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 350px;
        outline: 1px solid #000;
        bottom: 0;
        text-align: center;
        padding-top: 55px;
        &--text{
            width: 1560px;
            height: 170px;
        }
    }
}

.assassin-info{
    width: 100%;
    height: 100%;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__visual{
        height: 100%;
        background: #d00116; //임시 bg색

        &--list{
            height: 100%;
        }

        
        @each $obj in origin, talent, hero, villain {
            &--list-#{$obj} {
                float: left;
                width: 25%;
                height: 100%;
                //background: url($imgPath + '#{$obj}.png') no-repeat;
                //background-position: center;
                //background: #d00116;
                &:after{
                    @include clear;
                }
            }
            //캐릭터
            &--character-#{$obj} {
                background: url($imgPath + '#{$obj}__character.png') no-repeat;
                background-position: center;
                pointer-events: none;
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
            //배경
            &--bg-#{$obj}{
                //background: url($imgPath + '#{$obj}.png') no-repeat;
                background: #d00116; // 임시

                background-position: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                pointer-events: none;
            }
            
        }

        &--scene{
            color: #fff;
            position: absolute;
            bottom: 50px;
            outline: 1px solid;
            width: 100%;
            &-feature{
                font-family: Alternate Gothic Compressed ATF;
                @include fontInfo(80px, 115px, 0);
                width: 250px;
                border-bottom: 1px solid #fff;
                display: block;
                text-align: center;
                margin: 0 auto;
            }
            &-concise{
                @include fontInfo(29px, 54px, -0.06em);
                @include fw-bold;
                text-align: center;
            }

        }

        &--navigation{
            opacity: 0;
            pointer-events: none;
            position: absolute;
            outline: 1px solid blue;
            bottom: 0;
            margin: 50px 100px;
           &-btn{
               cursor: pointer;
               outline: 1px solid green;
               float: left;
               padding: 10px;
               &:after{
                    @include clear;
               }
           }
        }

        &--explain{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            pointer-events: none;
            &--origin{
                position: absolute;
                right: 0;
                opacity: 0;
                width: 1150px;
                height: 590px;
                outline: 1px solid red;
            }
            &--talent{
                opacity: 0;
            }
            &--hero{
                opacity: 0;
            }
            &--villain{
                opacity: 0;
            }

            @each $exContent in origin, talent, hero, villain {
                &--#{$exContent}-typo{
                    background: url($imgPath + '#{$exContent}__typo.png') no-repeat;
                    background-size: 100% 100%;
                    width: 100%;
                    height: 100%;
                }
            }
            //background: #ddd;
            //opacity: 0.2;
        }

    }
}

.epilogue{
    width: 100%;
    height: 100%;
    background: #000;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__inner{
        @include box_container( 1120px, -140px, 0, 0, -560px, 50%, 50% );
        height: 280px;
        color: #fff;
        &--area{
            width: 450px;
            float: right;
            outline: 1px solid #fff;
            &-headline{
                @include headlineText(#fff);
            }
            &-explain{
                margin-top: 55px;
                @include fontInfo(20px, 33px, -0.05em);
            }
            &:after{
                @include clear;
            }
        }
    }
    
}

.outro{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__inner{
        @include box_container( 1120px, -270px, 0, 0, -560px, 50%, 50% );
        height: 540px;
        color: #212121;
        &--headline{
            @include ProximaNova;
            @include headlineText(#212121, 40px, 48px, 0);
        }
        &--text{
            @include fontInfo(20px, 33px, -0.05em);
            @include fw-regular;
            margin: 65px 0;
        }
        &--video-play{
            @include ProximaNova;
            @include fontInfo(40px, 43px, 0);
            color: #fff;
            background: #000;
            width: 375px;
            height: 95px;
        }
    }
}



@keyframes test{
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@media all and (max-width: 1024px) and (max-height: 768px){
    
}
