@import 'common';
@import 'footer';

//오픈시 제거하자
.rooftop {opacity: 1;}

@mixin clear{
    clear: both;
    display: table;
    content : '';
}

$imgPath : '../img/';
$white : #fff;

@mixin box_container( $w:1400px, $mgTop:0 , $mgRight:0, $mgBottom:0, $mgLeft:-700px, $top:50%, $left:50% ){
    position: absolute;
    width: $w;
    top: $top;
    left: $left;
    margin: $mgTop $mgRight $mgBottom $mgLeft;
    //outline: 1px solid #ddd;
}

@mixin coverBg($imgName){
    background: url($imgPath + $imgName) no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

@mixin fontInfo($size, $lh, $ls){
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}

@mixin headlineText( $cr:#181310, $fs: 40px, $lh: 53px, $ls:-0.05em ){
    color: $cr;
        @include fontInfo($fs, $lh, $ls);
    .demilight{
        @include fw-demilight;
    }
    .highlight{
        @include fw-bold;
    }
}

.content__container{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: calc(100vh - 78px);
}

.visual-intro{
    width: 100%;
    height: 100%;
    background: #A81B21;
    
    &__type-text{
        background: url($imgPath + 'intro-NatureKillerCell.png') no-repeat;
        position: absolute;
        width: 1416px;
        height: 224px;
        left: 50%;
        margin-left: -708px;
        top: 50%;
        margin-top: -112px;
        opacity: 0;
        &.overlay{
            background: url($imgPath + 'intro-NatureKillerCell_overlay.png') no-repeat;
            opacity: 0;
        }
    }
    &__illust{
        opacity: 0;
        transform: translate(20px, 20px);
        background: url($imgPath + 'intro_illust.png') no-repeat;
        width: 450px;
        height: 1208px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -280px;
        margin-top: -320px;
    }
    &__area{
        @include box_container( 1560px, -116px, 0, 0, -760px, 50%, 50% );
        height: 232px;
        &--headline{
            &-first, &-last{
                opacity: 0;
                text-indent: -99999px;
                display: inline-block;
                &:after{
                    @include clear;
                }
            }
            &-first{
                transform: translateX(440px);
                background: url($imgPath + 'title_text_1.png') no-repeat;
                width: 548px;
                height: 148px;
                float: left;
                margin-top: 45px;
                margin-left: 10px;
            }
            &-last{
                transform: translateX(-500px);
                background: url($imgPath + 'title_text_2.png') no-repeat;
                width: 560px;
                height: 144px;
                float: right;
                margin-top: 36px;
                margin-right: 65px;
            }
        }
    }
}

.quiz-area{
    width: 100%;
    height: 100%;
    background: #A81B21;

    transform: translateY(100vh);
    position: absolute;
    top: 0;

    &__inner{
        //opacity: 0;
        @include box_container( 1400px, -300px, 0, 0, -700px, 50%, 50% );
        height: 600px;
        &--headline{
            text-align: center;
            &-text{
                @include headlineText(#fff, 30px, 40px, -0.05em);
                .highlight{
                    @include fw-medium;
                }
            }
        }

        &--cover{
            background: #fff;
            width: 848px;
            height: 354px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-top: -177px;
            margin-left: -424px;
            box-shadow: 30px 30px 40px #00000027;
        }
        &--start{
            .start-explanatory{
                text-align: center;
                @include fontInfo(26px, 42px, -0.05em);
                @include fw-demilight;
                padding: 114px 0;
                &-point{
                    color: #BA0000;
                }
            }
            .start-btn{
                color: #fff;
                @include fontInfo(20px, 33px, -0.05em);
                @include fw-medium;
                border: 2px solid #fff;
                width: 280px;
                height: 58px;
                text-align: center;
                background: #A81B21;
                margin-top: 87px;
                position: absolute;
                left: 50%;
                margin-left: -140px;
            }
        }
        &--progress{
            width: 850px;
            position: absolute;
            top: -40px;
            .progress__box{
                width: 82px;
                float: left;
                margin-right: 3px;
                text-align: center;
                .this-quoetion{
                    color: #fff;
                    @include fontInfo(12px, 33px, 0);
                    @include ProximaNova;
                    opacity: 0;
                    transition: opacity 0.5s;
                    &.thisActive{
                        opacity: 1;
                    }
                    &:before{
                        content: '';
                        background: url($imgPath + 'progress-chk.png') no-repeat;
                        width: 9px;
                        height: 9px;
                        display: inline-block;
                        position: absolute;
                        margin-top: -2px;
                        margin-left: 20px;
                    }
                }
                .chk{
                    background: #fff;
                    width: 100%;
                    height: 2px;
                    display: block;
                    transition: opacity 0.5s;
                    opacity: 0.35;
                    &.active{
                        opacity: 1;
                    }
                }
                &:after{
                    @include clear;
                }
            }
        }
        &--question{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            @for $i from 1 through 10{
                &-step#{$i}{
                    opacity: 0;
                    pointer-events: none;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .question--text{
                color: #000000;
                @include fontInfo(38px, 52px, -0.05em);
                @include fw-medium;
                text-align: center;
                padding: 75px 0;
            }
            .question__input{
                text-align: center;
                input[type='radio']{
                    display:none;
                    + label{
                        display: inline-block;
                        cursor: pointer;
                        width: 152px;
                        height: 45px;
                        text-align: center;
                        border-radius: 28px;
                        position: relative;
                        border: 2px solid #A81B21;
                        color: #A81B21;
                        background: #fff;
                        margin: 0 30px;
                        transition: all 0.3s;
                        @include fontInfo(24px, 40px, 0);
                        @include ProximaNova;
                    }
                    &:checked{
                        + label{
                            background: #A81B21;
                            color: #fff;
                        }
                    }
                }
            }
            .quiz__btn--next, .quiz__btn--finish{
                opacity: 0;
                pointer-events: none;
                @include fontInfo(30px, 33px, 0);
                @include fw-medium;
                color: #fff;
                background: none;
                position: absolute;
                bottom: -110px;
                width: 125px;
                left: 50%;
                margin-left: -62.5px;
                text-align: center;
                &:after{
                    content: '';
                    background: url($imgPath + 'quiz__btn-underline.png') no-repeat;
                    width: 132px;
                    height: 13px;
                    position: absolute;
                    bottom: -8px;
                    left: 50%;
                    margin-left: -66px;

                }
            }
        }
        &--result{
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            pointer-events: none;
            .result-area{
                width: 100%;
                height: 100%;
                .score-number{
                    width: 420px;
                    height: 240px;
                    margin-top: 56px;
                    display: inline-block;
                    border-right: 1px solid #212121;
                    .number-graph{
                        position: absolute;
                        width: 240px;
                        left: 100px;
                        path{
                            fill: #f2f2f2;
                            &.active{
                                fill: #A81B21;
                            }
                        }
                    }
                    .number-text-strong{
                        @include fontInfo(23px, 31px, -0.05em);
                        @include fw-regular;
                        color: #242424;
                        position: absolute;
                        top: 155px;
                        left: 150px;
                        width: 150px;
                        text-align: center;
                        .sc-num{
                            color: #A81B21;
                            @include fontInfo(58px, 33px, 0);
                            @include fw-medium;
                        }
                    }
                    .number-text-default{
                        position: absolute;
                        top: 205px;
                        left: 155px;
                        width: 150px;
                        text-align: center;
                        color: #242424;
                        @include fontInfo(14px, 19px, -0.05em);
                        @include fw-regular;
                    }
                }
                .score-grade{
                    position: absolute;
                    top: 0;
                    width: 420px;
                    height: 240px;
                    margin-top: 56px;
                    display: inline-block;
                    padding: 65px 0px 0px 50px;
                    .grade-title{
                        color: #A81B21;
                        @include fontInfo(22px, 37px, -0.04em);
                        @include fw-bold;
                    }
                    .grade-etc{
                        color: #242424;
                        margin-top: 25px;
                        @include fontInfo(20px, 29px, -0.04em);
                        @include fw-light;
                    }
                }
            }
            .quiz-explain-btn{
                color: #fff;
                @include fontInfo(20px, 33px, -0.05em);
                @include fw-medium;
                border: 2px solid #fff;
                width: 280px;
                height: 58px;
                text-align: center;
                background: #A81B21;
                margin-top: 87px;
                position: absolute;
                left: 50%;
                margin-left: -140px;
            }
        }
    }

    &__explain{
        @include box_container( 830px, -375px, 0, 0, -415px, 50%, 50% );
        height: 750px;
        opacity: 0;
        pointer-events: none;
        .explain__header{
            width: 100%;
            height: 40px;
            display: block;
            position: absolute;
            z-index: 2;
            background: #A81B21; 
            &--list{
                
                &-title{
                    color: #fff;
                    float: left;
                    text-align: center;
                    @include fontInfo(12px, 33px, -0.06em);
                    @include fw-bold;
                    &:nth-of-type(1){
                        width: 620px;
                        text-align: left;
                        padding-left: 30px;
                    }
                    &:nth-of-type(2){
                        width: 80px;
                    }
                    &:nth-of-type(3){
                        width: 65px;
                    }
                    &:nth-of-type(4){
                        width: 65px;
                    }
                    &:after{
                        @include clear;
                    }
                }
            }
        }
        .explain__container{
            width: 100%;
            height: 1000px;
            overflow: hidden;
            position: relative;
        }
        .explain__list{
            position: absolute;
            top: 40px;
            width: 100%;
            overflow: hidden;
            z-index: 1;
            &-item{
                background: #fff;
                width: 100%;
                height: 57px;
                //margin-bottom: 10px;
                position: relative;
                .number{
                    color: #212121;
                    @include fontInfo(20px, 33px, 0);
                    @include fw-medium;
                    width: 60px;
                    display: inline-block;
                    text-align: center;
                    padding-top: 12px;
                }
                .quistion-text{
                    color: #212121;
                    @include fontInfo(20px, 33px, -0.05em);
                    @include fw-medium;
                    display: inline-block;
                    width: 590px;
                }
                .answer-status--true{
                    background: url($imgPath + 'answer-status--true.png') no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 18px;
                    opacity: 0;
                    &.active{
                        opacity: 1;
                    }
                }
                .answer-status--false{
                    background: url($imgPath + 'answer-status--false.png') no-repeat;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    top: 18px;
                    opacity: 0;
                    &.active{
                        opacity: 1;
                    }
                }
                .select_true{
                    background: url($imgPath + 'select_true.png') no-repeat;
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    width: 30px;
                    margin-left: 55px;
                    position: relative;
                    top: 3px;
                    opacity: 0.3;
                    &.active{
                        opacity: 1;
                    }
                }
                .select_false{
                    background: url($imgPath + 'select_false.png') no-repeat;
                    width: 21px;
                    height: 21px;
                    display: inline-block;
                    position: relative;
                    top: 3px;
                    opacity: 0.3;
                    &.active{
                        opacity: 1;
                    }
                }
                .moreExplain{
                    background: url($imgPath + 'more-explain.png') no-repeat;
                    background-position: center;
                    display: inline-block;
                    text-indent: -99999px;
                    width: 60px;
                    height: 55px;
                    margin: 0 auto;
                }

            }
            &-more{
                width: 100%;
                background: #212121;
                height: 135px;
                margin-bottom: 10px;
                position: relative;
                //padding-top: 20px;
                height: 0;
                overflow: hidden;
                transition: all 0.6s;
                //&.view-long{
                //    height: 205px;
                //}
                &.view{
                    height: 135px;
                    &.long{
                        height: 205px;
                    }
                }
                .status-chk{
                    width: 50px;
                    display: inline-block;
                    position: absolute;
                    top: 20px;
                    left: 75px;
                    //position: relative;
                    //top: -20px;
                    //margin-left: 70px;
                    &--title{
                        color: #D0D0D0;
                        @include fontInfo(14px, 33px, -0.05em);
                        @include fw-regular;
                        display: block;
                        text-align: center;
                    }
                    .chk-false{
                        background: url($imgPath + 'chk-false.png') no-repeat;
                        position: relative;
                        height: 32px;
                        width: 100%;
                        background-size: 32px 32px;
                        background-position: center;
                        display: inline-block;
                    }
                    .chk-true{
                        background: url($imgPath + 'chk-true.png') no-repeat;
                        position: relative;
                        height: 32px;
                        width: 100%;
                        background-size: 32px 32px;
                        background-position: center;
                        display: inline-block;
                    }
                }
                .status-explain{
                    display: inline-block;
                    width: 525px;
                    color: #D0D0D0;
                    text-align: justify;
                    margin-left: 140px;
                    margin-top: 20px;
                    @include fontInfo(20px, 33px, -0.05em);
                    @include fw-regular;
                    
                }
            }
        }
    }
}

.immunity-relation{
    width: 100%;
    height: 100%;
    background: #fff;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__inner{
        @include box_container( 1400px, -260px, 0, 0, -700px, 50%, 50% );
        height: 520px;
        &--headline{
            text-align: center;
            &-text{
                @include headlineText();
            }
        }
        &--chart{
            width: 710px;
            height: 470px;
            position: absolute;
            left: 50%;
            margin-left: -355px;
            .cell-data{
                width: 100px;
                height: 50px;
                position: absolute;
                top: 60px;
                right: -20px;
                &-immunocyte, &-cancer{
                    &--icon{
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        margin-right: 5px;
                        display: inline-block;
                    }
                    &--text{
                        @include fontInfo(18px, 24px, 0);
                        @include AppleSDGothicNeoREgular;
                        color: #212121;
                    }
                }
                &-immunocyte{
                    &--icon{
                        background: #3B5AC3;
                    }
                }
                &-cancer{
                    &--icon{
                        background: #4E4E4E;
                    }
                }
            }
            .cell-area{
                width: 640px;
                height: 260px;
                position: absolute;
                left: 50%;
                margin-left: -320px;
                top: 120px;
                svg{
                    overflow: visible;
                }
                path{
                    fill: #4e4e4e;
                    &.static{
                        fill: #3B5AC3;
                    }
                }
                .scene_two{
                    visibility: hidden;
                    transform: translate(-5px, -4px);
                }
                .scene_three{
                    visibility: hidden;
                    transform: translate(-5px, -10px);
                }
                .scene_four, .scene_five{
                    visibility: hidden;
                }
            }
            .cell-bar-graph{
                position: absolute;
                bottom: 0;
                left: 5px;
                
                &-low, &-high{
                    @include fontInfo(12px, 33px, 0);
                    @include fw-light;
                    color: #C5C5C5;
                }

                &--chart{
                    width: 620px;
                    height: 16px;
                    background: #E8E8E8;
                    display: inline-block;
                    border-radius: 10px;
                    position: relative;
                    top: 4px;
                    margin: 0 10px;
                    .bar-graph-active{
                        background: #3B5AC3;
                        height: 8px;
                        margin: 4px 5px;
                        border-radius: 10px;
                        width: 10%;
                    }
                }
                &-pointer{
                    width: 100px;
                    text-align: center;
                    position: absolute;
                    left: 50px;
                    &--icon{
                        background: url($imgPath + 'graph-pointer.png') no-repeat;
                        width: 16px;
                        height: 13px;
                        display: block;
                        margin: 0 auto;
                    }
                    &--text{
                        @include fontInfo(14px, 17px, 0);
                        @include AppleSDGothicNeoREgular;
                        color: #212121;
                    }
                }
            }
        }
    }
}

.natural-killer{
    width: 100%;
    height: 100%;
    background: #F2F2F2;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    &__explain{
        @include box_container( 1400px, -250px, 0, 0, -700px, 50%, 50% );
        height: 500px;
        text-align: center;
        &--headline{
            @include headlineText();
        }
        &--text-box{
            width: 950px;
            margin: 45px auto 0 auto;
            @include fontInfo(20px, 33px, -0.05em);
            &-mg{
                margin: 35px 0;
            }
        }
    }
    &__type{
        opacity: 0;
        //outline: 1px solid #000;
        position: absolute;
        width: 1560px;
        left: 50%;
        //width: 100%;
        height: 350px;
        top: 50%;
        bottom: 0;
        margin-left: -780px;
        margin-top: -175px;
        text-align: center;
        padding-top: 55px;
        &--text{
            width: 1560px;
            height: 170px;
            
        }
        .st0{
            fill:#BA0000;
        }
        .st1{
            fill:#212121;
        }

    }
}

.assassin-info{
    width: 100%;
    height: 100%;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    overflow: hidden;
    &__visual{
        height: 100%;
        background: #d00116;
        &--list{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            margin-top: 0;
            overflow: hidden;

            //$talentObjWidth : 448, 514, 664, 399;
            //$talentObjHeight : 156, 315, 425, 197;

            @for $i from 1 through 4{
                .talent__object-#{$i}{
                    opacity: 0;
                    background: url($imgPath + 'talent__object-#{$i}.png') no-repeat;
                    pointer-events: none;
                    position: absolute;
                    width: 100%;
                    bottom: 0;
                    background-size: 100%;
                    height: 100%;
                    transform: scale(1.6);
                    top: 80px;
                    background-position: center;
                }
            }
            .villain__object-1{
                background: url($imgPath + 'villain__object-1.png') no-repeat;
                pointer-events: none;
                position: absolute;
                width: 100%;
                bottom: 0;
                height: 100%;
                
                background-position: 50% 100%;
                height: 150%;
                background-size: 160%;
                transform: scale(1.3) translateY(-350px);
                opacity: 0;
            }
            
        }
        @each $obj in origin, talent, hero, villain {
            &--list-#{$obj} {
                float: left;
                width: 25%;
                height: 100%;
                cursor: pointer;
                overflow: hidden;
                //overflow: visible;
                position: relative;
                &:after{
                    @include clear;
                }
            }
            //캐릭터
            &--character-#{$obj} {
                background: url($imgPath + '#{$obj}__character.png') no-repeat;
                background-position: center;
                pointer-events: none;
                position: absolute;
                width: 100%;
                bottom: 0;
                background-size: 100%;
                height: 100%;

                @if($obj == 'origin'){
                    transform: scale(1.5);
                    background-position: 0% 70%;
                }
                @if($obj == 'talent'){
                    transform: scale(1.6) translateX(40px);
                    top: 80px;
                }
                @if($obj == 'hero'){
                    background-size: 72%;
                    //transform: translate(30px, -20px);
                    transform: translate(30px, 0px);
                }
                @if($obj == 'villain'){
                    //background-position: bottom;
                    background-position: 50% 100%;
                    height: 150%;
                    background-size: 160%;
                    transform: scale(1.2) translateY(-50px)
                }
            }
            //배경
            &--bg-#{$obj}{
                @if($obj == 'origin'){
                    background: #d00116;
                }@else {
                    background: url($imgPath + '#{$obj}__bg.jpg') no-repeat;
                }
                @if($obj == 'talent'){
                    background-position: right;
                    background-size: 200% 100%;
                }
                @if($obj == 'hero'){
                    background-position: center;
                    background-size: 300% 100%;
                }
                @if($obj == 'villain'){
                    //background-size: 300% 120%;
                    //background-position: 50% 160%;
                    height: 120%;
                    background-position: 50% 100%;
                    background-size: 350% 150%;
                }
                background-position: center;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                pointer-events: none;
            }
            
        }

        &--scene{
            color: #fff;
            position: absolute;
            bottom: 50px;
            //outline: 1px solid;
            width: 100%;
            pointer-events: none;
            &-feature{
                font-family: Alternate Gothic Compressed ATF;
                @include fontInfo(80px, 115px, 0);
                width: 250px;
                border-bottom: 1px solid #fff;
                display: block;
                text-align: center;
                margin: 0 auto;
                pointer-events: none;
            }
            &-concise{
                @include fontInfo(29px, 54px, -0.06em);
                @include fw-bold;
                text-align: center;
                pointer-events: none;
            }

        }

        &--navigation{
            opacity: 0;
            pointer-events: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -61px;
            margin-top: 50px;
            margin-bottom: 50px;
           &-btn{
               cursor: pointer;
               float: left;
               padding: 5px 6px;
               svg, i{
                    transition: all 0.5s;
               }
               .item{
                   width: 12px;
                   height: 12px;
                   border-radius: 50%;
                   background: #D0D0D0;
                   display: inline-block;
                   pointer-events: none;
               }
               .home{
                   padding: 0;
                   path{
                       fill: #D0D0D0;
                   }
               }
               &.active{
                    .item{
                        background: #000;
                    }
                    .home{
                        fill: #000;
                    }
               }
               &:after{
                    @include clear;
               }
           }
        }

        &--content{
            position: absolute;
            top: 0;
            width: 1200px;
            height: 600px;
            left: 50%;
            top: 50%;
            margin-top: -300px;
            margin-left: -600px;
            pointer-events: none;
            .content--title{
                @include fontInfo(40px, 54px, -0.06em);
                color: #212121;
                pointer-events: none;
                .title-thin{
                    @include fw-demilight;
                }
                .title-strong{
                    @include fw-bold;
                }
            }
            .text-pro{
                pointer-events: none;
                @include fontInfo(20px, 33px, -0.05em);
                color: #212121;
                margin: 35px 0;
                text-align: justify;
            }
            &--origin{
                position: absolute;
                top: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                .content--title{
                    position: absolute;
                    top: 235px;
                    left: 315px;
                    .title-thin{
                        display: block;
                    }
                }
                &-text-area{
                    position: absolute;
                    width: 530px;
                    top: 10px;
                    right: 10px;
                }
            }
            &--talent{
                position: absolute;
                opacity: 0;
                top: 0;
                width: 100%;
                height: 100%;
                .content--title{
                    position: absolute;
                    top: 55px;
                    left: 160px;
                }
                &-text-area{
                    position: absolute;
                    width: 630px;
                    top: 145px;
                    left: 225px;
                }
                .mechanism__box{
                    position: absolute;
                    width: 410px;
                    right: -160px;
                    height: 100%;
                    //right: 300px;
                    &--title{
                        color: #212121;
                        @include fontInfo(12px, 33px, -0.05em);
                        @include fw-regular;
                        padding-top: 5px;
                        padding-left: 15px;
                    }
                    &--t, &--nk{
                        background: #fff;
                        width: 100%;
                        height: 215px;
                        position: relative;
                        .cancer-cell{
                            background: url($imgPath + 'cancer-cell.png') no-repeat;
                            width: 132px;
                            height: 132px;
                            position: absolute;
                            //animation: rotating 10s linear infinite;
                            top: 50px;
                            left: 235px;
                        }
                    }
                    $cellTopData : 75, 130, 70;
                    $cellLeftData : 55, 55, 110;

                    &--t{
                        margin-top: 125px;
                        margin-bottom: 25px;
                        $tCellSize: 31, 51, 90;
                        @for $i from 1 through 3{
                            .t-cell-#{$i}{
                                position: absolute;
                                background: url($imgPath + 't-cell-#{$i}.png') no-repeat;
                                width: #{nth($tCellSize, $i)}px;
                                height: #{nth($tCellSize, $i)}px;
                                top: #{nth($cellTopData, $i)}px;
                                left: #{nth($cellLeftData, $i)}px;
                            }
                        }
                        .t-cell-3{
                            z-index: 2;
                        }
                    }
                    &--nk{
                        $nkCellSize: 35, 50, 90;
                        @for $i from 1 through 3{
                            .nk-cell-#{$i}{
                                position: absolute;
                                background: url($imgPath + 'nk-cell-#{$i}.png') no-repeat;
                                width: #{nth($nkCellSize, $i)}px;
                                height: #{nth($nkCellSize, $i)}px;
                                top: #{nth($cellTopData, $i)}px;
                                left: #{nth($cellLeftData, $i)}px;
                            }
                        }
                        .nk-cell-2{
                            left: 35px;
                        }
                        .nk-boom{
                            position: absolute;
                            background: url($imgPath + 'nk-boom.png') no-repeat;
                            width: 71px;
                            height: 50px;
                            top: 40px;
                            left: 188px;
                            transform: scale(0);
                        }
                        .nk-weapon-1, .nk-weapon-2{
                            position: absolute;
                            background: #3B5AC3;
                            transform-origin: left;
                        }
                        .nk-weapon-1{
                            width: 63px;
                            height: 8px;
                            top: 105px;
                            left: 195px;
                        }
                        .nk-weapon-2{
                            width:28px;
                            height: 8px;
                            top: 125px;
                            left: 195px;
                        }
                        .cancer-cell{
                            z-index: 2;
                        }
                    }
                }
            }
            &--hero{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                .content--title{
                    text-align: center;
                    margin-top: -15px;
                }
                &-text-area{
                    position: absolute;
                    width: 915px;
                    left: 50%;
                    margin-left: -457.5px;
                    .text-pro{
                        text-align: center;
                    }
                }
            }
            &--villain{
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                z-index: 10;
                .content--title{
                    text-align: center;
                }
                &-card{
                    .card-list{
                        &__panel{
                            width: 378px;
                            height: 527px;
                            background: #fff;
                            float: left;
                            margin-top: 25px;
                            color: #212121;
                            padding: 30px 24px 0 24px;
                            &:nth-of-type(2){
                                margin: 25px 33px 0 33px;
                            }
                            &--title{
                                @include fontInfo(30px, 33px, -0.05em);
                                @include fw-bold;
                                display: block;
                                text-align: center;
                            }
                            &--detail{
                                @include fontInfo(20px, 33px, -0.05em);
                                @include fw-regular;
                                margin-top: 25px;
                            }
                            &:after{
                                @include clear;
                            }
                        }
                    }
                }
            }

            $typoWidth: (
                origin: 1146,
                talent: 1291,
                hero: 884,
                villain: 1313
            );
            $typoHeight: (
                origin: 599,
                talent: 580,
                hero: 599,
                villain: 580
            );
            $typoPosition: (
                origin: 195,
                talent: -40,
                hero: 160,
                villain: -55
            );

            @each $exContent in origin, talent, hero, villain {
                &--#{$exContent}-typo{
                    background: url($imgPath + '#{$exContent}__typo.png') no-repeat;
                    background-size: 100% 100%;
                    width: #{map-get( $typoWidth, $exContent )}px;
                    height: #{map-get( $typoHeight, $exContent )}px;
                    left: #{map-get( $typoPosition, $exContent )}px;
                    opacity: 0;
                    position: absolute;
                }
            }
        }
    }
}

.epilogue{
    width: 100%;
    height: 100%;
    background: #000;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    overflow: hidden;
    &__inner{
        @include box_container( 1120px, -140px, 0, 0, -560px, 50%, 50% );
        height: 280px;
        color: #fff;
        &--area{
            width: 450px;
            float: right;
            //outline: 1px solid #fff;
            &-headline{
                @include headlineText(#fff);
            }
            &-explain{
                margin-top: 55px;
                @include fontInfo(20px, 33px, -0.05em);
                @include fw-regular;
            }
            &:after{
                @include clear;
            }
        }
    }
    &__background{
        width: 100%;
        height: 100%;
        &-illust{
            background: url($imgPath + 'epilogue_illust.png') no-repeat;
            width: 970px;
            height: 1600px;
            position: absolute;
            left: 50%;
            margin-left: -640px;
            background-size: 80%;

        }
        @for $i from 1 through 3{
            &-rain#{$i}{
                background: url($imgPath + 'epilogue_rain_#{$i}.png') no-repeat;
                @if $i >= 2{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                }
            }
        }
        &-rain1{
            z-index: 2;
            width: 970px;
            height: 1600px;
            position: absolute;
            left: 50%;
            margin-left: -640px;
            background-size: 80%;
        }
    }
    
}

.outro{
    width: 100%;
    height: 100%;
    background: #000;
    transform: translateY(100vh);
    position: absolute;
    top: 0;
    overflow: hidden;
    &__background{
        background: url($imgPath + 'epilogue_rain_2.png') no-repeat;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    &__inner{
        @include box_container( 1120px, -270px, 0, 0, -560px, 50%, 50% );
        height: 540px;
        color: #212121;
        &--headline{
            @include headlineText(#fff, 60px, 73px, 0);
            @include ProximaNova;
            font-weight: 600;
        }
        &--text-first, &--text-second{
            color: #B5B5B5;
            @include fontInfo(20px, 33px, -0.05em);
            @include fw-regular;
            margin: 65px 0;
        }
        &--text{
            &-second{
                color: #fff;
                @include fontInfo(20px, 33px, -0.05em);
                @include fw-regular;
            }
        }
        &--video-play{
            border: 2px solid #A81B21;
            border-radius: 70px;
            width: 298px;
            height: 76px;
            background: none;
            margin-top: 75px;
            margin-left: 10px;
            &-text{
                background: url($imgPath + 'play_video.png') no-repeat;
                text-indent: -99999px;
                display: block;
                width: 177px;
                height: 24px;
                margin: 0 auto;
            }
        }
    }
    &__video{
        opacity: 0;
        pointer-events: none;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 998px;
        height: 561px;
        margin-left: -499px;
        margin-top: -280px;
        &--panel{
            &-in{
                width: 100%;
                height: 100%;
            }
        }
    }
}

@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

@media all and (max-height: 820px){
    .quiz-area__explain{
        transform: scale(0.8);
    }
}

@media all and (max-width: 1599px){
    .natural-killer__type{
        width: 1200px;
        margin-left: -600px;
        margin-top: -140px;
    }
    .visual-intro__area--headline {
        transform: scale(0.8);
        margin-top: 30px;
    }
    .visual-intro__type-text{
        transform: scale(0.8);
    }
    .quiz-area__inner--start .start-btn{
        margin-top: 80px;
    }
    .assassin-info__visual--content--origin,
    .assassin-info__visual--content--talent,
    .assassin-info__visual--content--hero,
    .assassin-info__visual--content--villain{
        transform: scale(0.8);
    }
}

@media all and (min-width: 1921px){
    .epilogue__background-illust, .epilogue__background-rain1{
        background-size: 100%;
        margin-left: -750px;
    }
}

@media all and (max-width: 1920px) and (min-height: 1350px){
    .epilogue__background-illust, .epilogue__background-rain1{
        background-size: 86%;
    }
}

body{
    &.ie11, &.ie10{
        .quiz__btn--next, .quiz__btn--finish{
            &:after{
                bottom: 0;
            }
        }
        .quiz-area__inner--result .result-area .score-number .number-graph{
            top: 0;
        }
    }
}