@charset "UTF-8";
@font-face {
  font-family: 'Noto Serif';
  font-weight: 400;
  src: url("../../fonts/NotoSerifKR-Regular.eot");
  src: url("../../fonts/NotoSerifKR-Regular.woff") format("woff"), url("../../fonts/NotoSerifKR-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 100;
  src: url("../../fonts/NotoSansCJKkr-Thin.eot");
  src: url("../../fonts/NotoSansCJKkr-Thin.woff") format("woff"), url("../../fonts/NotoSansCJKkr-Thin.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 200;
  src: url("../../fonts/NotoSansCJKkr-Light.eot");
  src: url("../../fonts/NotoSansCJKkr-Light.woff") format("woff"), url("../../fonts/NotoSansCJKkr-Light.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 300;
  src: url("../../fonts/NotoSansCJKkr-DemiLight.eot");
  src: url("../../fonts/NotoSansCJKkr-DemiLight.woff") format("woff"), url("../../fonts/NotoSansCJKkr-DemiLight.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 400;
  src: url("../../fonts/NotoSansCJKkr-Regular.eot");
  src: url("../../fonts/NotoSansCJKkr-Regular.woff") format("woff"), url("../../fonts/NotoSansCJKkr-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 500;
  src: url("../../fonts/NotoSansCJKkr-Medium.eot");
  src: url("../../fonts/NotoSansCJKkr-Medium.woff") format("woff"), url("../../fonts/NotoSansCJKkr-Medium.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 600;
  src: url("../../fonts/NotoSansCJKkr-Bold.eot");
  src: url("../../fonts/NotoSansCJKkr-Bold.woff") format("woff"), url("../../fonts/NotoSansCJKkr-Bold.otf") format("truetype");
}

@font-face {
  font-family: 'Noto Sans CJK KR';
  font-weight: 700;
  src: url("../../fonts/NotoSansCJKkr-Black.eot");
  src: url("../../fonts/NotoSansCJKkr-Black.woff") format("woff"), url("../../fonts/NotoSansCJKkr-Black.otf") format("truetype");
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src: url("../../fonts/ProximaNova-Regular.otf") format("truetype");
}

@font-face {
  font-family: 'AppleSDGothicNeoM';
  font-weight: 400;
  src: url("../../fonts/AppleSDGothicNeoM.ttf") format("truetype");
}

body {
  height: 100vh;
  font-family: 'Noto Sans CJK KR', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.08em;
}

h2, h3 {
  font-family: 'Noto Sans CJK KR', sans-serif;
}

h2 {
  font-size: 1.563rem;
  line-height: 1.25;
  letter-spacing: -0.062em;
  color: #1d1d1d;
  font-weight: normal;
}

h2 + p {
  max-width: 600px;
  font-size: 1rem;
}

h2 strong {
  font-weight: 600;
}

section {
  position: relative;
  padding: 2.8125rem 0;
}

a {
  text-decoration: none;
}

em {
  font-style: normal;
}

button {
  padding: 0;
  border: 0 none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  word-break: keep-all;
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  font: 0/0 Sans-serif;
  visibility: hidden;
}

:focus {
  outline: none;
}

.sns-modal .modal-head {
  height: 50px;
  font-size: 1.1em;
}

.brand-identity img {
  top: 0;
}

.video_wrap {
  font: 0/0 arial;
}

video {
  display: block;
  width: 100%;
}

/* 하단 카피라이트 관련 클레스 영역 */
.copyright {
  font-family: sans-serif;
  position: relative;
  padding: 40px 0;
  text-align: center;
  font-size: .75rem;
  font-weight: 200;
  background: #020300;
  color: #cacaca;
}

.copyright p {
  letter-spacing: 0;
  height: 16px;
  font-size: .688rem;
  margin: 8px 0;
}

.copyright p .bold {
  font-weight: 700;
}

.copyright p.p-text {
  font-weight: 400;
  letter-spacing: 1px;
  height: 15px;
  margin: 8px 0;
  color: #cacaca;
}

.copyright p.eng01 {
  font-weight: 400;
  letter-spacing: 1px;
  height: 24px;
  font-size: .6rem;
  padding-top: 0px;
  margin: 0px 0 30px 0;
}

.copyright .copyrightfooter_btnset {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.copyright .copyrightfooter_btnset:after {
  clear: both;
  content: '';
  display: table;
}

.copyright .copyrightfooter_btnset .copy_footer_btn1 {
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  letter-spacing: .5px;
  border-top: 1px solid #ccc;
}

.copyright .copyrightfooter_btnset .copy_footer_btn2 {
  float: left;
  position: relative;
  width: 50%;
  text-align: center;
  min-height: 40px;
  line-height: 40px;
  letter-spacing: .5px;
  border-top: 1px solid #ccc;
}

.copyright .copyrightfooter_btnset .copy_footer_btn2:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: #ccc;
}

.copyright .copyrightfooter_btnset .footer_tel {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #cacaca;
  text-decoration: none;
}

.copyright .copyrightfooter_btnset .footer_tel i {
  top: 2px;
  width: 16px;
  height: 16px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -170px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 0px;
  vertical-align: baseline;
  margin-left: 10px;
  opacity: 1;
}

.copyright .footer_mail {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
  color: #cacaca;
  text-decoration: none;
}

.copyright .footer_mail i {
  width: 18px;
  height: 12px;
  background: url(/ilab/img/sprite.png?v=2) no-repeat -150px 0;
  background-size: 200px;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  vertical-align: baseline;
  opacity: 1;
}

/* 하단 카피라이트 관련 클레스 영역 끝 */
.quiz__container {
  width: 100%;
  min-height: calc(100vh - 50px);
  overflow: hidden;
  position: absolute;
  top: 50px;
  pointer-events: none;
  z-index: 10;
}

.content__container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 50px);
  position: absolute;
  top: 50px;
}

.visual-intro {
  width: 100%;
  height: calc(100vh - 50px);
  background: #BA0000;
}

.visual-intro__illust {
  background: url("../../img/intro_illust.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  width: 31vh;
  height: 79vh;
  left: 50%;
  top: 50%;
  margin-left: -16vh;
  margin-top: -39vh;
}

.visual-intro__area {
  position: absolute;
  width: 88vw;
  top: 0;
  left: 50%;
  margin: 0 0 0 -44vw;
  height: 100%;
}

.visual-intro__area--headline-first, .visual-intro__area--headline-last {
  text-indent: -99999px;
  display: inline-block;
  position: absolute;
}

.visual-intro__area--headline-first {
  background: url("../img/title_text_1.png") no-repeat;
  background-size: 100%;
  width: 62vw;
  height: 18vw;
  top: 80vw;
  left: 0;
}

.visual-intro__area--headline-last {
  background: url("../img/title_text_2.png") no-repeat;
  background-size: 100%;
  width: 48vw;
  height: 18vw;
  top: 95vw;
  right: 0;
}

.visual-intro__area-button {
  position: absolute;
  width: 100%;
  height: 100%;
}

.visual-intro__area--goToTest, .visual-intro__area--goToStory {
  width: 67vw;
  height: 16vw;
  color: #fff;
  border: 2px solid #fff;
  font-size: 5.5vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  background: none;
  position: absolute;
  left: 50%;
  margin-left: -33.5vw;
}

.visual-intro__area--goToTest {
  bottom: 19vh;
}

.visual-intro__area--goToStory {
  bottom: 8vh;
}

.quiz-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  background: #BA0000;
  -webkit-transform: translateY(100vh);
          transform: translateY(100vh);
}

.quiz-area__inner {
  position: absolute;
  width: 88vw;
  top: 0;
  left: 50%;
  margin: 0 0 0 -44vw;
  height: 100%;
  color: #fff;
}

.quiz-area__inner--headline {
  font-size: 10vw;
  line-height: 12vw;
  letter-spacing: -0.05em;
  text-align: center;
  margin-top: 21vh;
}

.quiz-area__inner--headline .demilight {
  display: block;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 200;
}

.quiz-area__inner--headline .highlight {
  display: block;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__start {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 48vh;
  color: #fff;
}

.quiz-area__start--default, .quiz-area__start--cover {
  position: absolute;
  width: 100%;
  height: 100%;
}

.quiz-area__start .start-explanatory {
  font-size: 4vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  text-align: center;
  width: 80vw;
  position: absolute;
  bottom: 25vh;
  left: 50%;
  margin-left: -40vw;
}

.quiz-area__start .start-btn {
  position: absolute;
  left: 50%;
  width: 66vw;
  margin-left: -33vw;
  bottom: 8vh;
  height: 16vw;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  font-size: 6vw;
  line-height: 11vw;
  letter-spacing: 0;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
}

.quiz-area__start--cover {
  background: #fff;
  color: #B10000;
}

.quiz-area__start--cover .start-btn {
  color: #B10000;
  border: 1px solid #B10000;
}

.quiz-area__question {
  -webkit-transform: translateX(101vw);
          transform: translateX(101vw);
  position: absolute;
  top: 0;
  background: #BA0000;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: #fff;
}

.quiz-area__question .quiz-skip {
  background: none;
  color: #fff;
  top: 6vw;
  left: 8vw;
  z-index: 10;
  position: absolute;
  font-size: 3.8vw;
  line-height: 11vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__question .question--text {
  font-size: 8vw;
  line-height: 11vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  z-index: 10;
  position: absolute;
  pointer-events: none;
  width: 72vw;
  top: 50%;
  left: 14vw;
  margin-top: -20vw;
}

.quiz-area__question .question__input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 5;
}

.quiz-area__question .question__input input[type='radio'] {
  display: none;
}

.quiz-area__question .question__input input[type='radio'] + label {
  cursor: pointer;
  color: #fff;
  font-size: 6.5vw;
  line-height: 11vw;
  letter-spacing: 0;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 400;
  width: 50%;
  height: 100%;
  position: absolute;
}

.quiz-area__question .question__input input[type='radio'] + label.true {
  background: #BA0000;
  left: 0;
}

.quiz-area__question .question__input input[type='radio'] + label.false {
  background: #B10000;
  right: 0;
}

.quiz-area__question .question__input input[type='radio'] + label .text {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 18vw;
}

.quiz-area__question--progress {
  position: absolute;
  width: 100%;
  height: 10vw;
  bottom: 0;
  z-index: 6;
  pointer-events: none;
}

.quiz-area__question--progress .line {
  position: relative;
  background: #fff;
  height: 0.5vw;
  width: 88vw;
  top: 0;
  left: 6vw;
}

.quiz-area__question--progress .process {
  position: absolute;
  width: 88vw;
  height: 1vw;
  display: inline-block;
  top: -0.2vw;
  left: 6vw;
  -webkit-transform-origin: left;
          transform-origin: left;
  background: #fff;
}

.quiz-area__question--finish {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #BA0000;
  opacity: 0;
  z-index: 11;
  pointer-events: none;
}

.quiz-area__question--finish .show-result {
  position: absolute;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  width: 68vw;
  height: 16vw;
  left: 16vw;
  top: 50%;
  margin-top: -8vw;
  font-size: 5.5vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.quiz-area__question-step2, .quiz-area__question-step3, .quiz-area__question-step4, .quiz-area__question-step5, .quiz-area__question-step6, .quiz-area__question-step7, .quiz-area__question-step8, .quiz-area__question-step9, .quiz-area__question-step10 {
  visibility: hidden;
  pointer-events: none;
}

.quiz-area__question-step2 .question--text, .quiz-area__question-step3 .question--text, .quiz-area__question-step4 .question--text, .quiz-area__question-step5 .question--text, .quiz-area__question-step6 .question--text, .quiz-area__question-step7 .question--text, .quiz-area__question-step8 .question--text, .quiz-area__question-step9 .question--text, .quiz-area__question-step10 .question--text {
  -webkit-transform: translateX(101vw);
          transform: translateX(101vw);
}

.quiz-area__result {
  position: absolute;
  background: #BA0000;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  pointer-events: none;
  opacity: 0;
}

.quiz-area__result .result-area {
  position: absolute;
  width: 68vw;
  left: 16vw;
  top: 15vh;
  color: #fff;
}

.quiz-area__result .result-area .number-graph {
  width: 90%;
  margin-left: 5%;
  display: block;
}

.quiz-area__result .result-area .number-graph path {
  fill: none;
}

.quiz-area__result .result-area .number-graph path.active {
  fill: #fff;
}

.quiz-area__result .result-area .number-text-strong {
  position: absolute;
  width: 25vw;
  top: 26vw;
  left: 50%;
  margin-left: -12.5vw;
  text-align: center;
  font-size: 4vw;
  line-height: 0;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__result .result-area .number-text-strong .sc-num {
  font-size: 16vw;
  line-height: 0;
  letter-spacing: 0;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.quiz-area__result .result-area .number-text-default {
  position: absolute;
  top: 35vw;
  left: 20vw;
  font-size: 3.5vw;
  line-height: 7vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 200;
}

.quiz-area__result .quiz-explain-btn {
  position: absolute;
  border: 1px solid #fff;
  background: none;
  color: #fff;
  width: 68vw;
  height: 16vw;
  left: 16vw;
  bottom: 5vh;
  font-size: 5.5vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.quiz-area__result .score-grade {
  color: #fff;
  position: relative;
  top: 8vh;
  width: 80vw;
  left: -5vw;
  text-align: center;
}

.quiz-area__result .score-grade .grade-title {
  font-size: 6.5vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__result .score-grade .grade-etc {
  margin-top: 2vw;
  font-size: 3.5vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 200;
}

.quiz-area__explain {
  background: #F5F5F5;
  z-index: 16;
  position: absolute;
  top: 0;
  width: 100%;
  height: 190vw;
  min-height: calc(100vh - 50px);
  padding: 20vw 6vw;
  opacity: 0;
  pointer-events: none;
}

.quiz-area__explain .explain__header {
  position: relative;
  width: 100%;
}

.quiz-area__explain .explain__header--list-title {
  position: absolute;
  bottom: 0;
  color: #343434;
  text-align: center;
  font-size: 3.2vw;
  line-height: 9vw;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(1) {
  text-align: left;
  width: 56vw;
  padding-left: 2vw;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(2) {
  left: 56vw;
  width: 8vw;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(3) {
  left: 65vw;
  width: 15vw;
}

.quiz-area__explain .explain__header--list-title:nth-of-type(4) {
  left: 80vw;
  width: 10vw;
}

.quiz-area__explain .explain__list-item {
  background: #fff;
  height: 12vw;
  position: relative;
  border-bottom: 1px solid #00000029;
  padding: 4vw;
}

.quiz-area__explain .explain__list-item .number {
  color: #212121;
  display: inline-block;
  width: 5vw;
  text-align: center;
  position: relative;
  top: -2.4vw;
  font-size: 4vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__explain .explain__list-item .quistion-text {
  color: #212121;
  display: inline-block;
  width: 45vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  position: relative;
  top: -1vw;
  font-size: 4vw;
  line-height: 6vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.quiz-area__explain .explain__list-item .answer-status--true {
  background: url("../../img/answer-status--true.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  margin: 0 3vw;
  opacity: 0;
}

.quiz-area__explain .explain__list-item .answer-status--true.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .answer-status--false {
  background: url("../../img/answer-status--false.png") no-repeat;
  background-size: 100% 100%;
  position: absolute;
  display: inline-block;
  width: 5vw;
  height: 5vw;
  margin: 0 3vw;
  opacity: 0;
}

.quiz-area__explain .explain__list-item .answer-status--false.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .select_true {
  background: url("../../img/select_true.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  width: 4vw;
  height: 4vw;
  margin: 0.5vw 3vw;
  left: 64vw;
  opacity: 0.3;
}

.quiz-area__explain .explain__list-item .select_true.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .select_false {
  background: url("../../img/select_false.png") no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  position: absolute;
  width: 4vw;
  height: 4vw;
  margin: 0.5vw 3vw;
  left: 72vw;
  opacity: 0.3;
}

.quiz-area__explain .explain__list-item .select_false.active {
  opacity: 1;
}

.quiz-area__explain .explain__list-item .moreExplain {
  background: url("../../img/more-explain.png") no-repeat;
  background-size: 100%;
  background-position: center;
  display: inline-block;
  text-indent: -99999px;
  position: absolute;
  margin: 0;
  width: 2.5vw;
  left: 83vw;
}

.quiz-area__explain .explain__list-item .moreExplain:after {
  content: '';
  display: inline-block;
  width: 8vw;
  position: absolute;
  height: 12vw;
  left: -3vw;
  top: -4vw;
}

.quiz-area__explain .explain__list-more {
  width: 100%;
  background: #212121;
  position: relative;
  color: #D0D0D0;
  padding: 6vw 3vw;
  margin-bottom: 4vw;
  padding: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.quiz-area__explain .explain__list-more.view {
  height: 36vw;
}

.quiz-area__explain .explain__list-more.view.md1 {
  height: 42vw;
}

.quiz-area__explain .explain__list-more.view.md2 {
  height: 50vw;
}

.quiz-area__explain .explain__list-more.view.long {
  height: 60vw;
}

.quiz-area__explain .explain__list-more .status-chk {
  width: 12vw;
  display: inline-block;
  position: absolute;
  text-align: center;
  top: 4vw;
  left: 3vw;
}

.quiz-area__explain .explain__list-more .status-chk--title {
  color: #D0D0D0;
  font-size: 3.2vw;
  line-height: 8vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  display: block;
  text-align: center;
}

.quiz-area__explain .explain__list-more .status-chk .chk-false {
  background: url("../../img/chk-false.png") no-repeat;
  background-size: 100%;
  position: relative;
  height: 8vw;
  width: 8vw;
  background-size: 100%;
  background-position: center;
  display: inline-block;
}

.quiz-area__explain .explain__list-more .status-chk .chk-true {
  background: url("../../img/chk-true.png") no-repeat;
  background-size: 100%;
  position: relative;
  height: 8vw;
  width: 8vw;
  background-size: 100%;
  background-position: center;
  display: inline-block;
}

.quiz-area__explain .explain__list-more .status-explain {
  font-size: 4vw;
  line-height: 6.5vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  margin-left: 15vw;
  position: absolute;
  top: 5vw;
  left: 2vw;
  padding-right: 4vw;
}

.natural-killer-cell {
  width: 100%;
  height: 282vw;
}

.natural-killer-cell__type {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  width: 240vw;
  left: 50%;
  position: absolute;
  margin-left: -120vw;
  top: 128vw;
}

.natural-killer-cell__type .killer__type--text .st0 {
  fill: #BA0000;
}

.natural-killer-cell__type .killer__type--text .st1 {
  fill: #212121;
}

.natural-killer {
  background: #1C1C1C;
  width: 100%;
  height: 195vw;
}

.natural-killer__explain {
  position: absolute;
  width: 88vw;
  top: 0;
  left: 50%;
  margin: 0 0 0 -44vw;
  color: #CCCCCC;
  top: 10vw;
}

.natural-killer__explain--headline {
  font-size: 7vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
}

.natural-killer__explain--headline .demilight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  display: block;
  text-align: center;
}

.natural-killer__explain--headline .highlight {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  display: block;
  text-align: center;
}

.natural-killer__explain--text-box {
  text-align: justify;
  font-size: 4.2vw;
  line-height: 7vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.natural-killer__explain--text-box-mg {
  margin: 8vw 0;
}

.natural-killer__explain--text-box-mg:last-child {
  margin: 0;
}

.assassin-info {
  padding: 0;
  overflow: hidden;
}

.assassin-info .title {
  font-size: 6.5vw;
  line-height: 8vw;
  letter-spacing: -0.05em;
}

.assassin-info .title-thin {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  display: block;
}

.assassin-info .title-strong {
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  display: block;
}

.assassin-info .title .underline {
  background: url("../img/assassin-info__underline.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 2vw;
  display: block;
  margin-top: 4vw;
  margin-bottom: 5vw;
}

.assassin-info .text-area {
  color: #212121;
  font-size: 4.2vw;
  line-height: 7.5vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.assassin-info .text-area--pro {
  margin-bottom: 8vw;
}

.assassin-info .text-area--pro:last-child {
  margin-bottom: 0;
}

.assassin-info--origin {
  background: #F5F5F5;
}

.assassin-info--origin--visual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.assassin-info--origin--visual .background {
  background: #A81B21;
  width: 100%;
  height: 100%;
}

.assassin-info--origin--visual .typo {
  position: absolute;
  text-indent: -99999px;
  background: url("../img/origin__typo.png") no-repeat;
  background-size: 100%;
  width: 32vw;
  height: 22vw;
  top: 41vw;
  right: 6vw;
}

.assassin-info--origin--visual .illust {
  position: absolute;
  background: url("../img/origin__character.png") no-repeat;
  background-size: 100%;
  width: 66vw;
  height: 100vw;
  top: 15vw;
}

.assassin-info--origin--content {
  position: relative;
  width: 88vw;
  left: 6vw;
}

.assassin-info--talent {
  background: #F5F5F5;
}

.assassin-info--talent--visual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 90vw;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

.assassin-info--talent--visual .background {
  background: url("../img/talent__bg.jpg") no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}

.assassin-info--talent--visual .typo {
  position: absolute;
  text-indent: -99999px;
  background: url("../img/talent__typo.png") no-repeat;
  background-size: 100%;
  width: 36vw;
  height: 24vw;
  top: 55vw;
  left: 8vw;
}

.assassin-info--talent--visual .illust {
  position: absolute;
  background: url("../img/talent__character.png") no-repeat;
  background-size: 100%;
  width: 55vw;
  height: 100vw;
  top: 0;
  right: 0;
}

.assassin-info--talent--visual .talent-obj1 {
  position: absolute;
  background: url("../img/talent__object-1.png") no-repeat;
  background-size: 100%;
  width: 55vw;
  height: 100vw;
  top: 0;
  right: 0;
}

.assassin-info--talent--visual .talent-obj2 {
  position: absolute;
  background: url("../img/talent__object-2.png") no-repeat;
  background-size: 100%;
  width: 55vw;
  height: 100vw;
  top: 0;
  right: 0;
}

.assassin-info--talent--visual .talent-obj3 {
  position: absolute;
  background: url("../img/talent__object-3.png") no-repeat;
  background-size: 100%;
  width: 55vw;
  height: 100vw;
  top: 0;
  right: 0;
}

.assassin-info--talent--visual .talent-obj4 {
  position: absolute;
  background: url("../img/talent__object-4.png") no-repeat;
  background-size: 100%;
  width: 55vw;
  height: 100vw;
  top: 0;
  right: 0;
}

.assassin-info--talent--content {
  position: relative;
  width: 88vw;
  left: 6vw;
  top: 10vw;
}

.assassin-info--talent--content .mechanism__box {
  margin-top: 8vw;
  height: 115vw;
}

.assassin-info--talent--content .mechanism__box--title {
  color: #212121;
  font-size: 3.4vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
  padding-top: 1vw;
  padding-left: 3vw;
}

.assassin-info--talent--content .mechanism__box--t, .assassin-info--talent--content .mechanism__box--nk {
  background: #fff;
  width: 100%;
  height: 45vw;
  position: relative;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  margin-bottom: 5vw;
}

.assassin-info--talent--content .mechanism__box--t .cancer-cell, .assassin-info--talent--content .mechanism__box--nk .cancer-cell {
  background: url("../../img/cancer-cell.png") no-repeat;
  background-size: 100% 100%;
  width: 28vw;
  height: 28vw;
  position: absolute;
  top: 10vw;
  left: 50vw;
}

.assassin-info--talent--content .mechanism__box--t .t-cell-1 {
  position: absolute;
  background: url("../../img/t-cell-1.png") no-repeat;
  background-size: 100% 100%;
  width: 6.5vw;
  height: 6.5vw;
  top: 16vw;
  left: 11vw;
}

.assassin-info--talent--content .mechanism__box--t .t-cell-2 {
  position: absolute;
  background: url("../../img/t-cell-2.png") no-repeat;
  background-size: 100% 100%;
  width: 11vw;
  height: 11vw;
  top: 28vw;
  left: 13vw;
}

.assassin-info--talent--content .mechanism__box--t .t-cell-3 {
  position: absolute;
  background: url("../../img/t-cell-3.png") no-repeat;
  background-size: 100% 100%;
  width: 18.6vw;
  height: 18.6vw;
  top: 15vw;
  left: 24vw;
}

.assassin-info--talent--content .mechanism__box--t .t-cell-3 {
  z-index: 2;
}

.assassin-info--talent--content .mechanism__box--nk .nk-cell-1 {
  position: absolute;
  background: url("../../img/nk-cell-1.png") no-repeat;
  background-size: 100% 100%;
  width: 6.5vw;
  height: 6.5vw;
  top: 16vw;
  left: 11vw;
}

.assassin-info--talent--content .mechanism__box--nk .nk-cell-2 {
  position: absolute;
  background: url("../../img/nk-cell-2.png") no-repeat;
  background-size: 100% 100%;
  width: 11vw;
  height: 11vw;
  top: 28vw;
  left: 13vw;
}

.assassin-info--talent--content .mechanism__box--nk .nk-cell-3 {
  position: absolute;
  background: url("../../img/nk-cell-3.png") no-repeat;
  background-size: 100% 100%;
  width: 18.6vw;
  height: 18.6vw;
  top: 15vw;
  left: 24vw;
}

.assassin-info--talent--content .mechanism__box--nk .nk-boom {
  position: absolute;
  background: url("../../img/nk-boom.png") no-repeat;
  background-size: 100%;
  top: 7vw;
  left: 40vw;
  width: 15vw;
  height: 11vw;
}

.assassin-info--talent--content .mechanism__box--nk .nk-weapon-1, .assassin-info--talent--content .mechanism__box--nk .nk-weapon-2 {
  position: absolute;
  background: #3B5AC3;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.assassin-info--talent--content .mechanism__box--nk .nk-weapon-1 {
  width: 14vw;
  height: 2vw;
  top: 23vw;
  left: 40vw;
}

.assassin-info--talent--content .mechanism__box--nk .nk-weapon-2 {
  width: 6vw;
  height: 1.5vw;
  top: 27vw;
  left: 40vw;
}

.assassin-info--talent--content .mechanism__box--nk .cancer-cell {
  z-index: 2;
}

.assassin-info--hero {
  background: #000001;
  color: #fff;
}

.assassin-info--hero--visual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vw;
  color: #fff;
}

.assassin-info--hero--visual .background {
  background: url("../img/hero__bg.jpg") no-repeat;
  background-size: 100% 100%;
  width: 65%;
  height: 100%;
}

.assassin-info--hero--visual .typo {
  position: absolute;
  text-indent: -99999px;
  background: url("../img/hero__typo.png") no-repeat;
  background-size: 100%;
  width: 24vw;
  height: 18vw;
  top: 31vw;
  right: 8vw;
}

.assassin-info--hero--visual .illust {
  position: absolute;
  background: url("../img/hero__character.png") no-repeat;
  background-size: 100%;
  width: 32vw;
  height: 100vw;
  top: 12vw;
  left: 10vw;
}

.assassin-info--hero--content-area {
  position: relative;
  width: 88vw;
  left: 6vw;
  top: 10vw;
}

.assassin-info--hero--content .title .underline {
  background: url("../img/assassin-info__underline-white.png") no-repeat;
  background-size: 100%;
}

.assassin-info--hero--content .text-area {
  color: #fff;
}

.assassin-info--hero--content .procedure {
  background: #F5F5F5;
  width: 100%;
  height: 72vw;
  margin-top: 18vw;
}

.assassin-info--hero--content .procedure-board {
  position: relative;
  background: #fff;
  border-right: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  width: 88vw;
  left: 6vw;
  top: 6vw;
  height: 60vw;
}

.assassin-info--hero--content .procedure__inner-text {
  font-size: 2vw;
  line-height: 4vw;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  color: #212121;
  display: block;
  text-align: center;
}

.assassin-info--hero--content .procedure__inner-text-str {
  font-size: 3.2vw;
  line-height: 9vw;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  color: #fff;
  position: relative;
  display: block;
  text-align: center;
}

.assassin-info--hero--content .procedure-nk {
  background: url("../../img/procedure-nk.png") no-repeat;
  background-size: 100%;
  width: 17vw;
  height: 17vw;
  position: absolute;
  top: 5vw;
  left: 14vw;
}

.assassin-info--hero--content .procedure-nk .procedure__inner-text-str {
  margin-top: 4vw;
}

.assassin-info--hero--content .procedure-cancer {
  background: url("../../img/procedure-cancer.png") no-repeat;
  background-size: 100%;
  width: 20vw;
  height: 20vw;
  position: absolute;
  top: 4vw;
  right: 5vw;
}

.assassin-info--hero--content .procedure-cancer .procedure__inner-text-str {
  margin-top: 5vw;
}

.assassin-info--hero--content .procedure-etc {
  background: #C6C6C6;
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: absolute;
  bottom: 6vw;
}

.assassin-info--hero--content .procedure-etc .procedure__inner-text {
  margin-top: 5vw;
}

.assassin-info--hero--content .procedure-etc.num2 {
  left: 5vw;
}

.assassin-info--hero--content .procedure-etc.num3 {
  left: 22vw;
}

.assassin-info--hero--content .procedure-etc.num4 {
  left: 66vw;
}

.assassin-info--hero--content .procedure-etc.num4 .procedure__inner-text {
  margin-top: 3vw;
}

.assassin-info--hero--content .procedure .procedure-arrow-text {
  color: #212121;
  font-size: 2.5vw;
  line-height: 0;
  letter-spacing: -0.06em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
  text-align: center;
  display: block;
}

.assassin-info--hero--content .procedure-line {
  height: 2px;
  background: #C6C6C6;
  display: inline-block;
}

.assassin-info--hero--content .procedure-line:after {
  content: '';
  background: url("../../img/procedure-arrow.png") no-repeat;
  width: 1.5vw;
  height: 2vw;
  margin-top: -0.8vw;
  float: right;
  background-size: 100% 100%;
}

.assassin-info--hero--content .procedure .procedure-step1 {
  position: relative;
  width: 27vw;
  top: 9vw;
  left: 33vw;
}

.assassin-info--hero--content .procedure .procedure-step1 .procedure-line {
  width: 28vw;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.assassin-info--hero--content .procedure .procedure-step2 {
  position: relative;
  top: 26vw;
  left: 26vw;
  width: 7vw;
}

.assassin-info--hero--content .procedure .procedure-step2 .procedure-line {
  position: relative;
  width: 14vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: -5vw;
  left: -10vw;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.assassin-info--hero--content .procedure .procedure-step3 {
  position: relative;
  top: 30vw;
  width: 20vw;
  left: 40vw;
}

.assassin-info--hero--content .procedure .procedure-step3 .procedure-line {
  width: 22vw;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.assassin-info--hero--content .procedure .procedure-step4 {
  position: relative;
  left: 18vw;
  top: 14vw;
}

.assassin-info--hero--content .procedure .procedure-step4 .procedure-line {
  position: relative;
  width: 11vw;
  top: -5vw;
  left: 50vw;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.assassin-info--villain {
  background: #000;
}

.assassin-info--villain--visual {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 88vw;
  color: #fff;
}

.assassin-info--villain--visual .background {
  background: url("../img/villain__bg.jpg") no-repeat;
  background-size: 120% 100%;
  background-position: center;
  width: 100%;
  height: 100%;
}

.assassin-info--villain--visual .typo {
  position: absolute;
  text-indent: -99999px;
  background: url("../img/villain__typo.png") no-repeat;
  background-size: 100%;
  width: 30vw;
  height: 18vw;
  top: 10vw;
  left: 9vw;
}

.assassin-info--villain--visual .illust {
  position: absolute;
  background: url("../img/villain__character.png") no-repeat;
  background-size: 100%;
  top: 0;
  width: 108vw;
  height: 100vw;
  right: -21vw;
  background-position: bottom;
}

.assassin-info--villain--content {
  background: -webkit-gradient(linear, left top, left bottom, from(#B60912), color-stop(50%), to(#000));
  background: linear-gradient(#B60912, 50%, #000);
  padding-bottom: 4vw;
}

.assassin-info--villain--content .title {
  padding-top: 8vw;
  color: #fff;
  text-align: center;
}

.assassin-info--villain--content .title .title-thin, .assassin-info--villain--content .title .title-strong {
  display: inline-block;
}

.assassin-info--villain--content .list-area {
  width: 88vw;
  left: 6vw;
  position: relative;
  margin-top: 8vw;
}

.assassin-info--villain--content .list-area__block--item {
  background: #F4F4F4;
  width: 100%;
  margin-bottom: 5vw;
  color: #212121;
  padding: 6vw;
}

.assassin-info--villain--content .list-area__block--item .item-title {
  font-size: 5.5vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
}

.assassin-info--villain--content .list-area__block--item .item-title--sub {
  font-size: 4vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
  float: right;
}

.assassin-info--villain--content .list-area__block--item .item-title--sub:after {
  clear: both;
  display: table;
  content: '';
}

.assassin-info--villain--content .list-area__block--item .underline {
  background: url("../img/assassin-info__underline.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 2vw;
  display: block;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

.assassin-info--villain--content .list-area__block--item .item-content {
  font-size: 4vw;
  line-height: 6.8vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 400;
}

.epilogue {
  width: 100%;
  height: calc(100vh - 50px);
  background: #000;
  overflow: hidden;
}

.epilogue__background {
  width: 100%;
  height: 100%;
}

.epilogue__background-illust {
  background: url("../img/epilogue_illust.png") no-repeat;
  position: absolute;
  background-size: 100%;
  width: 100vw;
  height: 200vw;
  top: 0;
  opacity: 0;
}

.epilogue__background-rain1 {
  background: url("../img/epilogue_rain_1.png") no-repeat;
}

.epilogue__background-rain2 {
  background: url("../img/epilogue_rain_2.png") no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.epilogue__background-rain3 {
  background: url("../img/epilogue_rain_3.png") no-repeat;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.epilogue__background-rain1 {
  position: absolute;
  background-size: 100%;
  width: 100vw;
  height: 150vw;
  z-index: 2;
  top: 0;
}

.epilogue__inner {
  opacity: 0;
  width: 100%;
  height: 68vw;
  position: absolute;
  bottom: 10vw;
  color: #fff;
  width: 88vw;
  left: 6vw;
}

.epilogue__inner--area-headline {
  font-size: 7vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.epilogue__inner--area-explain {
  margin-top: 14vw;
  font-size: 4.4vw;
  line-height: 7.2vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.epilogue__inner--gradient {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80vw;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(30%), to(#000));
  background: linear-gradient(transparent, 30%, #000);
}

.epilogue .outro__inner {
  pointer-events: none;
  position: absolute;
  width: 88vw;
  top: 0;
  left: 50%;
  margin: 0 0 0 -44vw;
  z-index: 2;
  height: 100%;
}

.epilogue .outro__inner--headline {
  color: #fff;
  font-size: 12.5vw;
  line-height: 15vw;
  letter-spacing: 0;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 600;
  margin-top: 15vw;
  margin-bottom: 3vw;
}

.epilogue .outro__inner--text-first {
  color: #B5B5B5;
  margin-bottom: 6vw;
  font-size: 3.6vw;
  line-height: 6.5vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.epilogue .outro__inner--text-second {
  color: #fff;
  margin-bottom: 6vw;
  font-size: 3.6vw;
  line-height: 6.5vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 300;
}

.epilogue .outro__inner--quiz {
  border: 2px solid #A81B21;
  border-radius: 7vw;
  width: 58vw;
  height: 15vw;
  background: none;
  position: absolute;
  left: 50%;
  margin-left: -29vw;
  margin-top: 6vw;
}

.epilogue .outro__inner--btn-text {
  color: #D63636;
  font-size: 4.2vw;
  line-height: 9vw;
  letter-spacing: -0.05em;
  font-family: 'Noto Sans CJK KR', sans-serif;
  font-weight: 500;
}

.epilogue .outro__inner .outro__video--panel-in {
  display: block;
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
}

.brand-identity img {
  top: 5px;
}

@-webkit-keyframes checked-ture {
  0% {
    background: #BA0000;
  }
  60% {
    background: #C22C2C;
  }
  100% {
    background: #BA0000;
  }
}

@keyframes checked-ture {
  0% {
    background: #BA0000;
  }
  60% {
    background: #C22C2C;
  }
  100% {
    background: #BA0000;
  }
}

@-webkit-keyframes checked-false {
  0% {
    background: #B10000;
  }
  60% {
    background: #8F0101;
  }
  100% {
    background: #B10000;
  }
}

@keyframes checked-false {
  0% {
    background: #B10000;
  }
  60% {
    background: #8F0101;
  }
  100% {
    background: #B10000;
  }
}
/*# sourceMappingURL=mobile_style.css.map */