@charset 'UTF-8';

@font-face {font-family:'Noto Serif';font-weight:400;src:url('../../fonts/NotoSerifKR-Regular.eot');src:url('../../fonts/NotoSerifKR-Regular.woff') format('woff'), url('../../fonts/NotoSerifKR-Regular.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:100;src:url('../../fonts/NotoSansCJKkr-Thin.eot');src:url('../../fonts/NotoSansCJKkr-Thin.woff') format('woff'), url('../../fonts/NotoSansCJKkr-Thin.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:200;src:url('../../fonts/NotoSansCJKkr-Light.eot');src:url('../../fonts/NotoSansCJKkr-Light.woff') format('woff'), url('../../fonts/NotoSansCJKkr-Light.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:300;src:url('../../fonts/NotoSansCJKkr-DemiLight.eot');src:url('../../fonts/NotoSansCJKkr-DemiLight.woff') format('woff'), url('../../fonts/NotoSansCJKkr-DemiLight.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:400;src:url('../../fonts/NotoSansCJKkr-Regular.eot');src:url('../../fonts/NotoSansCJKkr-Regular.woff') format('woff'), url('../../fonts/NotoSansCJKkr-Regular.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:500;src:url('../../fonts/NotoSansCJKkr-Medium.eot');src:url('../../fonts/NotoSansCJKkr-Medium.woff') format('woff'), url('../../fonts/NotoSansCJKkr-Medium.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:600;src:url('../../fonts/NotoSansCJKkr-Bold.eot');src:url('../../fonts/NotoSansCJKkr-Bold.woff') format('woff'), url('../../fonts/NotoSansCJKkr-Bold.otf') format('truetype')}
@font-face {font-family:'Noto Sans CJK KR';font-weight:700;src:url('../../fonts/NotoSansCJKkr-Black.eot');src:url('../../fonts/NotoSansCJKkr-Black.woff') format('woff'), url('../../fonts/NotoSansCJKkr-Black.otf') format('truetype')}

@font-face {font-family:'ProximaNova';font-weight:400;src:url('../../fonts/ProximaNova-Regular.otf') format('truetype')}

@font-face {font-family:'AppleSDGothicNeoM';font-weight:400;src:url('../../fonts/AppleSDGothicNeoM.ttf') format('truetype')}

@mixin fw-thin {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:100;}
@mixin fw-light {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:200;}
@mixin fw-demilight {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:300;}
@mixin fw-regular {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:400;}
@mixin fw-medium {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:500;}
@mixin fw-bold {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:600;}
@mixin fw-black {font-family: 'Noto Sans CJK KR', sans-serif; font-weight:700;}

@mixin ProximaNova {font-family: 'ProximaNova', sans-serif; font-weight:400;}

@mixin AppleSDGothicNeoREgular {font-family: 'AppleSDGothicNeoM', sans-serif; font-weight:400;}

body{height:100vh;font-family:'Noto Sans CJK KR', sans-serif;line-height:1.4;letter-spacing:-0.08em;}

h2, h3{font-family:'Noto Sans CJK KR', sans-serif}
h2{font-size:1.563rem;line-height:1.25;letter-spacing:-0.062em;color:#1d1d1d;font-weight:normal}
h2 + p{max-width:600px;font-size:1rem}
h2 strong{font-weight:600}
section{position:relative;padding:2.8125rem 0}
a{text-decoration:none}
em{font-style:normal}
button{padding:0;border:0 none;cursor:pointer}
*{box-sizing:border-box}
p{word-break:keep-all}
.hide{position:absolute;width:0;height:0;overflow:hidden;font:0/0 Sans-serif;visibility:hidden}
:focus{outline:none}

.sns-modal .modal-head{height:50px;font-size:1.1em}
.brand-identity img{top:0;}

.video_wrap{font:0/0 arial}
video{display:block;width:100%;}



