@import 'mobile_common';
@import 'mobile_footer';

$imgPath : '../../img/';
$mimgPath : '../img/';
$white : #fff;

@mixin clear{
    clear: both;
    display: table;
    content : '';
}

@mixin box_container( $width: 84vw, $mgTop:0 , $mgRight:0, $mgBottom:0, $mgLeft:-42vw, $top:0, $left:50%){
    position: absolute;
    width: $width;
    top: $top;
    left: $left;
    margin: $mgTop $mgRight $mgBottom $mgLeft;
}

@mixin fontInfo($size, $lh, $ls){
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}

.quiz__container{
    width: 100%;
    min-height: calc(100vh - 50px);
    overflow: hidden;
    position: absolute;
    top: 50px;
    pointer-events: none;
    z-index: 10;
}

.content__container{
    width: 100%;
    height: 100%;
    min-height: calc(100vh - 50px);
    position: absolute;
    top: 50px;
}

.visual-intro{
    width: 100%;
    min-height: calc(100vh - 50px);
    height: 180vw;
    background: #BA0000;
    overflow: hidden;
    &__illust{
        opacity: 0;
        background: url($imgPath + 'intro_illust.png') no-repeat;
        background-size: 100% 100%;
        position: absolute;
        width: 60vw;
        height: 155vw;
        left: 17vw;
    }
    &__area{
        @include box_container(88vw, 0, 0, 0, -44vw, 0, 50%);
        height: 100%;
        &--headline{
            &-first, &-last{
                opacity: 0;
                text-indent: -99999px;
                display: inline-block;
                position: absolute;
            }
            &-first{
                transform: translateX(15vw);
                background: url($mimgPath + 'title_text_1.png') no-repeat;
                background-size: 100%;
                width: 62vw;
                height: 18vw;
                top: 85vw;
                left: 0;
            }
            &-last{
                transform: translateX(-18vw);
                background: url($mimgPath + 'title_text_2.png') no-repeat;
                background-size: 100%;
                width: 48vw;
                height: 18vw;
                top: 100vw;
                right: 0;
            }
        }
        &-button{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        &--goToTest, &--goToStory{
            width: 67vw;
            height: 16vw;
            color: #fff;
            border: 2px solid #fff;
            @include fontInfo(5.5vw, 9vw, -0.05em);
            @include fw-medium;
            background: none;
            position: absolute;
            opacity: 0;
            left: 50%;
            margin-left: -33.5vw;
        }
        &--goToTest{
            bottom: 35vw;
        }
        &--goToStory{
            bottom: 15vw;
        }
    }
    
}

.quiz-area{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    overflow: hidden;
    background: #BA0000;
    transform: translateY(100vh);
    &__inner{
        @include box_container(88vw, 0, 0, 0, -44vw, 0, 50%);
        height: 100%;
        color: #fff;
        &--headline{
            @include fontInfo(10vw, 12vw, -0.05em);
            text-align: center;
            margin-top: 30vw;
            .demilight{
                display: block;
                @include fw-light;
            }
            .highlight{
                display: block;
                @include fw-medium;
            }
        }
    }
    &__start{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50%;
        color: #fff;
        &--default, &--cover{
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .start-explanatory{
            @include fontInfo(4vw, 6vw, -0.05em);
            @include fw-regular;
            text-align: center;
            width: 80vw;
            position: absolute;
            top: 15vw;
            left: 50%;
            margin-left: -40vw;
        }
        .start-btn{
            position: absolute;
            left: 50%;
            width: 66vw;
            margin-left: -33vw;
            height: 16vw;
            color: #fff;
            border: 1px solid #fff;
            background: none;
            bottom: 15vw;
            @include fontInfo(6vw, 11vw, 0);
            @include ProximaNova;
        }
        &--cover{
            background: #fff;
            color: #B10000;
            .start-btn{
                color: #B10000;
                border: 1px solid #B10000;
            }
        }
    }

    &__question{
        transform: translateX(101vw);
        position: absolute;
        top: 0;
        background: #BA0000;
        width: 100%;
        height: 100%;
        pointer-events: none;
        color: #fff;

        .quiz-skip{
            background: none;
            color: #fff;
            top: 6vw;
            left: 8vw;
            z-index: 10;
            position: absolute;
            @include fontInfo(3.8vw, 11vw, -0.05em);
            @include fw-medium;
        }
        .question--text{
            @include fontInfo(8vw, 11vw, -0.05em);
            @include fw-regular;
            z-index: 10;
            position: absolute;
            pointer-events: none;
            width: 72vw;
            top: 50%;
            left: 14vw;
            margin-top: -20vw;
            
        }
        .question__input{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 5;
            input[type='radio']{
                display: none;
                + label{
                    cursor: pointer;
                    color: #fff;
                    @include fontInfo(6.5vw, 11vw, 0);
                    @include ProximaNova;
                    width: 50%;
                    height: 100%;
                    position: absolute;
                    &.true{
                        background: #BA0000;
                        left: 0;
                    }
                    &.false{
                        background: #B10000;
                        right: 0;
                    }
                    .text{
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        bottom: 25vw;
                    }
                }
            }
        }

        &--progress{
            position: absolute;
            width: 100%;
            height: 20vw;
            bottom: 0;
            z-index: 6;
            pointer-events: none;
            .line{
                position: relative;
                background: #fff;
                height: 0.5vw;
                width: 88vw;
                top: 0;
                left: 6vw;
            }
            .process{
                position: absolute;
                width: 88vw;
                height: 1vw;
                display: inline-block;
                top: -0.2vw;
                left: 6vw;
                transform-origin: left;
                background: #fff;
            }
        }

        &--finish{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #BA0000;
            opacity: 0;
            z-index: 11;
            pointer-events: none;
            .show-result{
                position: absolute;
                border: 1px solid #fff;
                background: none;
                color: #fff;
                width: 68vw;
                height: 16vw;
                left: 16vw;
                top: 50%;
                margin-top: -8vw;
                @include fontInfo(5.5vw, 6vw, -0.05em);
                @include fw-regular;
            }
        }        

        &-step2, &-step3, &-step4, &-step5, &-step6, &-step7, &-step8, &-step9, &-step10{
            visibility: hidden;
            pointer-events: none;
            .question--text{
                transform: translateX(101vw);
            }
        }
    }

    &__result{
        position: absolute;
        background: #BA0000;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 15;
        pointer-events: none;
        opacity: 0;

        .result-area{
            position: absolute;
            width: 68vw;
            left: 16vw;
            top: 50%;
            margin-top: -60vw;
            color: #fff;
            .number-graph{
                width: 90%;
                margin-left: 5%;
                display: block;
                path{
                    fill: none;
                    &.active{
                        fill: #fff;
                    }
                }
            }
            .number-text-strong{
                position: absolute;
                width: 25vw;
                top: 26vw;
                left: 50%;
                margin-left: -12.5vw;
                text-align: center;
                @include fontInfo(4vw, 0, -0.05em);
                @include fw-medium;
                .sc-num{
                    @include fontInfo(16vw, 0, 0);
                    @include fw-bold;
                }
            }
            .number-text-default{
                position: absolute;
                top: 35vw;
                left: 20vw;
                @include fontInfo(3.5vw, 7vw, -0.05em);
                @include fw-light;
            }
        }
        
        .quiz-explain-btn{
            position: absolute;
            border: 1px solid #fff;
            background: none;
            color: #fff;
            width: 68vw;
            height: 16vw;
            left: 16vw;
            bottom: 15vw;
            @include fontInfo(5.5vw, 6vw, -0.05em);
            @include fw-regular;
        }

        .score-grade{
            color: #fff;
            position: relative;
            width: 80vw;
            left: -5vw;
            text-align: center;
            .grade-title{
                @include fontInfo(6.5vw, 9vw, -0.05em);
                @include fw-medium;
            }
            .grade-etc{
                margin-top: 2vw;
                @include fontInfo(3.5vw, 6vw, -0.05em);
                @include fw-light;
            }
        }
    }

    &__explain{
        background: #F5F5F5;
        z-index: 16;
        position: absolute;
        top: 0;
        width: 100%;
        height: 190vw;
        min-height: calc(100vh - 50px);
        padding: 20vw 6vw;
        opacity: 0;
        pointer-events: none;
        .explain__header{
            position: relative;
            width: 100%;
            &--list{
                &-title{
                    position: absolute;
                    bottom: 0;
                    color: #343434;
                    text-align: center;
                    @include fontInfo(3.2vw, 9vw, -0.06em);
                    @include fw-medium;
                    &:nth-of-type(1){
                        text-align: left;
                        width: 56vw;
                        padding-left: 2vw;
                    }
                    &:nth-of-type(2){
                        left: 56vw;
                        width: 8vw;
                    }
                    &:nth-of-type(3){
                        left: 65vw;
                        width: 15vw;
                    }
                    &:nth-of-type(4){
                        left: 80vw;
                        width: 10vw;
                    }
                }
            }
        }
        .explain__list{
            &-item{
                background: #fff;
                height: 12vw;
                position: relative;
                border-bottom: 1px solid #00000029;
                padding: 4vw;
                .quistion-text{
                    color: #212121;
                    display: inline-block;
                    width: 45vw;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    position: relative;
                    top: -1vw;
                    @include fontInfo(4vw, 6vw, -0.05em);
                    @include fw-medium;
                    .number{
                        margin-right: 1.5vw;
                    }
                }
                .answer-status--true{
                    background: url($imgPath + 'answer-status--true.png') no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    display: inline-block;
                    width: 5vw;
                    height: 5vw;
                    margin: 0 3vw;
                    opacity: 0;
                    &.active{
                        opacity: 1;
                    }
                }
                .answer-status--false{
                    background: url($imgPath + 'answer-status--false.png') no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    display: inline-block;
                    width: 5vw;
                    height: 5vw;
                    margin: 0 3vw;
                    opacity: 0;
                    &.active{
                        opacity: 1;
                    }
                }
                .select_true{
                    background: url($imgPath + 'select_true.png') no-repeat;
                    background-size: 100% 100%;
                    display: inline-block;
                    position: absolute;
                    width: 4vw;
                    height: 4vw;
                    margin: 0.5vw 3vw;
                    left: 64vw;
                    opacity: 0.3;
                    &.active{
                        opacity: 1;
                    }
                }
                .select_false{
                    background: url($imgPath + 'select_false.png') no-repeat;
                    background-size: 100% 100%;
                    display: inline-block;
                    position: absolute;
                    width: 4vw;
                    height: 4vw;
                    margin: 0.5vw 3vw;
                    left: 72vw;
                    opacity: 0.3;
                    &.active{
                        opacity: 1;
                    }
                }
                .moreExplain{
                    background: url($imgPath + 'more-explain.png') no-repeat;
                    background-size: 100%;
                    background-position: center;
                    display: inline-block;
                    text-indent: -99999px;
                    position: absolute;
                    margin: 0;
                    width: 2.5vw;
                    left: 83vw;
                    &:after{
                        content: '';
                        display: inline-block;
                        width: 8vw;
                        position: absolute;
                        height: 12vw;
                        left: -3vw;
                        top: -4vw;
                    }
                }
            }
            &-more{
                width: 100%;
                background: #212121;
                position: relative;
                color: #D0D0D0;
                padding: 6vw 3vw;
                margin-bottom: 4vw;
                padding: 0;
                height: 0;
                overflow: hidden;
                transition: all 0.6s;

                &.view{
                    height: 42vw;
                    &.ss{
                        height: 36vw;
                    }
                    &.md1{
                        height: 48vw;
                    }
                    &.md2{
                        height: 50vw;
                    }
                    &.long{
                        height: 60vw;
                    }
                    &.super{
                        height: 66vw;
                    }
                    &.sudo{
                        height: 74vw;
                    }
                }
                .status-chk{
                    width: 12vw;
                    display: inline-block;
                    position: absolute;
                    text-align: center;
                    top: 4vw;
                    left: 3vw;
                    &--title{
                        color: #D0D0D0;
                        @include fontInfo(3.2vw, 8vw, -0.05em);
                        @include fw-regular;
                        display: block;
                        text-align: center;
                    }
                    .chk-false{
                        background: url($imgPath + 'chk-false.png') no-repeat;
                        background-size: 100%;
                        position: relative;
                        height: 8vw;
                        width: 8vw;
                        background-size: 100%;
                        background-position: center;
                        display: inline-block;
                    }
                    .chk-true{
                        background: url($imgPath + 'chk-true.png') no-repeat;
                        background-size: 100%;
                        position: relative;
                        height: 8vw;
                        width: 8vw;
                        background-size: 100%;
                        background-position: center;
                        display: inline-block;
                    }
                }
                .status-explain{
                    @include fontInfo(4vw, 6.5vw, -0.05em);
                    @include fw-regular;
                    margin-left: 15vw;
                    position: absolute;
                    top: 5vw;
                    left: 2vw;
                    padding-right: 4vw;
                }
            }
        }

    }
    
}

.natural-killer-cell{
    width: 100%;
    height: 282vw;
    &__type{
        transform: rotate(90deg);
        width: 240vw;
        left: 50%;
        position: absolute;
        margin-left: -120vw;
        top: 128vw;
        .killer__type--text{
            .st0{
                fill:#BA0000;
            }
            .st1{
                fill: #212121
            }
        }
    }

}

.natural-killer{
    background: #1C1C1C;
    width: 100%;
    height: 195vw;

    &__explain{
        @include box_container(88vw, 0, 0, 0, -44vw, 0, 50%);
        color: #CCCCCC;
        top: 10vw;
        
        &--headline{
            @include fontInfo(7vw, 9vw, -0.05em);
            text-align: center;
            transform: translateY(40px);
            opacity: 0;
            .demilight{
                @include fw-demilight;
                text-align: center;
            }
            .highlight{
                @include fw-bold;
                text-align: center;
            }
        }
        &--text-box{
            @include fontInfo(4.2vw, 7vw, -0.05em);
            @include fw-regular;
            &-mg{
                margin: 8vw 0;
                transform: translateY(40px);
                opacity: 0;
                &:last-child{
                    margin: 0;
                }
            }
            
        }

    }
}

.assassin-info{
    padding: 0;
    overflow: hidden;

    .title{
        @include fontInfo(6.5vw, 8vw, -0.05em);
        &-thin{
            @include fw-demilight;
            display: block;
        }
        &-strong{
            @include fw-bold;
            display: block;
        }
        .underline{
            background: url($mimgPath + 'assassin-info__underline.png') no-repeat;
            background-size: 100%;
            width: 100%;
            height: 2vw;
            display: block;
            margin-top: 4vw;
            margin-bottom: 5vw;
        }
    }
    .text-area{
        color: #212121;
        @include fontInfo(4.2vw, 7.5vw, -0.05em );
        @include fw-demilight;
        &--pro{
            margin-bottom: 8vw;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &--origin{
        background: #F5F5F5;
        &--visual{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100vw;
            clip-path : polygon(0 0, 100% 0, 100% 100%, 0 100%);

            .background{
                background: #A81B21;
                width: 100%;
                height: 100%;
            }
            .typo{
                position: absolute;
                text-indent: -99999px;
                background: url($mimgPath + 'origin__typo.png') no-repeat;
                background-size: 100%;
                width: 32vw;
                height: 22vw;
                top: 41vw;
                right: 6vw;
                opacity: 0;
            }
            .illust{
                position: absolute;
                background: url($mimgPath + 'origin__character.png') no-repeat;
                background-size: 100%;
                width: 66vw;
                height: 100vw;
                top: 15vw;
                opacity: 0;
            }
        }
        &--content{
            position: relative;
            width: 88vw;
            left: 6vw;
            opacity: 0;
            transform: translateY(40px);
        }
    }
    &--talent{
        background: #F5F5F5;
        &--visual{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 90vw;
            clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
            .background{
                background: url($mimgPath + 'talent__bg.jpg') no-repeat;
                background-size: 100% 100%;
                width: 100%;
                height: 100%;
            }
            .typo{
                position: absolute;
                text-indent: -99999px;
                background: url($mimgPath + 'talent__typo.png') no-repeat;
                background-size: 100%;
                width: 36vw;
                height: 24vw;
                top: 55vw;
                left: 8vw;
                opacity: 0;
            }

            .illust{
                position: absolute;
                background: url($mimgPath + 'talent__character.png') no-repeat;
                background-size: 100%;
                width: 55vw;
                height: 100vw;
                top: 0;
                right: 0;
                opacity: 0;
            }
            @for $i from 1 through 4{
                .talent-obj#{$i}{
                    position: absolute;
                    background: url($mimgPath + 'talent__object-#{$i}.png') no-repeat;
                    background-size: 100%;
                    width: 55vw;
                    height: 100vw;
                    top: 0;
                    right: 0;
                    opacity: 0;
                    transform: translateX(40px);
                }
            }
        }
        &--content{
            position: relative;
            width: 88vw;
            left: 6vw;
            top: 10vw;
            opacity: 0;
            transform: translateY(40px);
            .mechanism__box{
                margin-top: 10vw;
                height: 120vw;

                &--title{
                    @include fontInfo(3.4vw, 9vw, -0.05em);
                    @include fw-regular;
                    color: #fff;
                    background: #9D9D9D;
                    border-radius: 5vw;
                    display: inline-block;
                    width: 45vw;
                    text-align: center;
                    position: relative;
                    top: -5vw;
                    left: 22vw;
                }
                &--t, &--nk{
                    background: #fff;
                    width: 100%;
                    height: 45vw;
                    position: relative;
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    margin-bottom: 10vw;
                    .cancer-cell{
                        background: url($imgPath + 'cancer-cell.png') no-repeat;
                        background-size: 100% 100%;
                        width: 28vw;
                        height: 28vw;
                        position: absolute;
                        top: 10vw;
                        left: 48vw;
                    }
                    .cell-name{
                        color: #fff;
                        @include fontInfo(3.2vw, 9vw, -0.05em);
                        @include fw-bold;
                        font-style: normal;
                        position: relative;
                    }
                }

                &--t{
                    .t-cell-3{
                        position: absolute;
                        background: url($imgPath + 't-cell.png') no-repeat;
                        background-size: 100% 100%;
                        width: 22vw;
                        height: 22vw;
                        top: 15vw;
                        left: 18vw;
                        z-index: 2;
                        .cell-name{
                            top: 8vw;
                            left: 6vw;
                        }
                    }
                    .t-question-mark{
                        position: absolute;
                        background: url($imgPath + 'question-mark.png') no-repeat;
                        z-index: 3;
                        background-size: 100% 100%;
                        width: 10vw;
                        height: 14vw;
                        top: 6vw;
                        left: 40vw;
                    }
                    .cancer-cell{
                        .cell-name{
                            top: 9.5vw;
                            left: 9.5vw;
                        }
                    }
                }
                
                &--nk{
                    .nk-cell-3{
                        position: absolute;
                        background: url($imgPath + 'nk-cell.png') no-repeat;
                        background-size: 100% 100%;
                        width: 22vw;
                        height: 22vw;
                        top: 15vw;
                        left: 21vw;
                        z-index: 2;
                        .cell-name{
                            top: 6vw;
                            left: 7vw;
                        }
                    }
                    
                    .nk-boom{
                        position: absolute;
                        background: url($imgPath + 'nk-boom.png') no-repeat;
                        background-size: 100%;
                        top: 7vw;
                        left: 38vw;
                        width: 15vw;
                        height: 11vw;
                    }
                    .nk-weapon-1, .nk-weapon-2{
                        position: absolute;
                        background: #3B5AC3;
                        transform-origin: left;
                    }
                    .nk-weapon-1{
                        width: 14vw;
                        height: 2vw;
                        top: 23vw;
                        left: 41vw;
                    }
                    .nk-weapon-2{
                        width: 6vw;
                        height: 1.5vw;
                        top: 27vw;
                        left: 41vw;
                    }
                    .cancer-cell{
                        z-index: 2;
                        .cell-name{
                            top: 9.5vw;
                            left: 9.5vw;
                        }
                    }
                }
            }
        }
    }
    &--hero{
        background: #000001;
        color: #fff;

        &--visual{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 100vw;
            color: #fff;
            .background{
                background: url($mimgPath + 'hero__bg.jpg') no-repeat;
                background-size: 100% 100%;
                width: 65%;
                height: 100%;
            }
            
            .typo{
                position: absolute;
                text-indent: -99999px;
                background: url($mimgPath + 'hero__typo.png') no-repeat;
                background-size: 100%;
                width: 24vw;
                height: 18vw;
                top: 31vw;
                right: 8vw;
                opacity: 0;
            }
            .illust{
                position: absolute;
                background: url($mimgPath + 'hero__character.png') no-repeat;
                background-size: 100%;
                width: 32vw;
                height: 100vw;
                top: 12vw;
                left: 10vw;
                opacity: 0;
            }
        }
        &--content{
            opacity: 0;
            transform: translateY(40px);
            &-area{
                position: relative;
                width: 88vw;
                left: 6vw;
                top: 10vw;
            }
            .title{
                .underline{
                    background: url($mimgPath + 'assassin-info__underline-white.png') no-repeat;
                    background-size: 100%;
                }
            }
            .text-area{
                color: #fff;
            }
            .procedure{
                
                background: #F5F5F5;
                width: 100%;
                height: 100vw;
                margin-top: 18vw;
                position: relative;
                &__cover{
                    opacity: 0;
                }
                &-board{
                    border-bottom: 1px solid #ddd;
                    border-right: 1px solid #ddd;
                    background: #fff;
                    width: 92vw;
                    height: 80vw;
                    position: absolute;
                    top: 10vw;
                    left: 4vw;
                }
                &-mechanism{
                    background: #9D9D9D;
                    display: inline-block;
                    position: absolute;
                    width: 45vw;
                    text-align: center;
                    border-radius: 5vw;
                    top: 6vw;
                    left: 28vw;
                    height: 8vw;
                    &--text{
                        font-weight: 600;
                        color: #fff;
                        font-size: 4vw;
                        line-height: 8vw;
                    }
                }
                &__inner-text{
                    @include fontInfo(3.2vw, 4vw, -0.06em);
                    @include fw-bold;
                    color: #4e4e4e;
                    display: block;
                    text-align: center;
                    &-str{
                        @include fontInfo(3.2vw, 9vw, -0.06em);
                        @include fw-bold;
                        color: #4e4e4e;
                        position: relative;
                        display: block;
                        text-align: center;
                    }
                }
                &-nk{
                    background: url($imgPath + 'procedure-nk.png') no-repeat;
                    background-size: 100%;
                    width: 17vw;
                    height: 17vw;
                    position: absolute;
                    top: 20vw;
                    left: 14vw;
                    .procedure__inner-text-str{
                        margin-top: 16vw;
                    }
                }
                &-cancer{
                    background: url($imgPath + 'procedure-cancer.png') no-repeat;
                    background-size: 100%;
                    width: 20vw;
                    height: 20vw;
                    position: absolute;
                    top: 19vw;
                    left: 68vw;
                    .procedure__inner-text-str{
                        margin-top: 17.5vw;
                    }
                }
                &-etc1{
                    background: url($imgPath + 'procedure-etc1.png') no-repeat;
                    background-size: 100% 100%;
                    width: 15vw;
                    height: 16vw;
                    position: absolute;
                    top: 61vw;
                    left: 7vw;
                    .procedure__inner-text{
                        position: relative;
                        top: 18vw;
                    }
                }
                &-etc2{
                    background: url($imgPath + 'procedure-etc2.png') no-repeat;
                    background-size: 100% 100%;
                    width: 16vw;
                    height: 16vw;
                    position: absolute;
                    top: 61vw;
                    left: 22vw;
                    .procedure__inner-text{
                        position: relative;
                        top: 18vw;
                    }
                }
                &-etc3{
                    background: url($imgPath + 'procedure-etc.png') no-repeat;
                    background-size: 100% 100%;
                    width: 20vw;
                    height: 20vw;
                    position: absolute;
                    top: 58vw;
                    left: 65vw;
                    .procedure__inner-text{
                        width: 30vw;
                        position: relative;
                        top: 21vw;
                        left: -4vw;
                    }
                }

                .procedure-arrow-text{
                    color: #212121;
                    @include fontInfo(2.5vw, 0, -0.06em);
                    @include fw-demilight;
                    text-align: center;
                    display: block;
                }
                &-line{
                    display: inline-block;
                    border-top: 0.5vw dotted #838386;
                    margin-top: 3vw;
                    &:after{
                        content : '';
                        background: url($imgPath + 'procedure-arrow.png') no-repeat;
                        width: 1.5vw;
                        height: 2vw;
                        margin-top: -1.3vw;
                        float: right;
                        background-size: 100% 100%;
                    }
                }
                .procedure-step1{
                    position: relative;
                    width: 27vw;
                    top: 24vw;
                    left: 36vw;
                    .procedure-line{
                        width: 28vw;
                        transform-origin: left;
                    }
                }
                .procedure-step2{
                    position: relative;
                    top: 48vw;
                    left: 26vw;
                    width: 7vw;
                    .procedure-line{
                        position: relative;
                        width: 14vw;
                        transform: rotate(90deg);
                        top: -5vw;
                        left: -10vw;
                        transform-origin: top;
                    }
                }
                .procedure-step3{
                    position: relative;
                    top: 53vw;
                    width: 20vw;
                    left: 40vw;
                    .procedure-line{
                       width: 22vw;
                       transform-origin: left;
                    }
                }
                .procedure-step4{
                    position: relative;
                    top: 36vw;
                    left: 22vw;
                    .procedure-line{
                        position: relative;
                        width: 11vw;
                        top: -5vw;
                        left: 50vw;
                        transform: rotate(-90deg);
                        transform-origin: bottom;
                    }
                    .procedure-arrow-text{
                        margin-right: 6vw;
                    }
                }
            }
        }
    }
    &--villain{
        background: #000;
        &--visual{
            position: relative;
            overflow: hidden;
            width: 100%;
            height: 88vw;
            color: #fff;
            .background{
                background: url($mimgPath + 'villain__bg.jpg') no-repeat;
                background-size: 120% 100%;
                background-position: center;
                width: 100%;
                height: 100%;
                opacity: 0;
            }
            .typo{
                position: absolute;
                text-indent: -99999px;
                background: url($mimgPath + 'villain__typo.png') no-repeat;
                background-size: 100%;
                width: 30vw;
                height: 18vw;
                top: 10vw;
                left: 9vw;
                opacity: 0;
            }
            .illust{
                position: absolute;
                background: url($mimgPath + 'villain__character.png') no-repeat;
                background-size: 100%;
                top: 0;
                width: 108vw;
                height: 100vw;
                right: -21vw;
                background-position: bottom;
                opacity: 0;
            }
        }
        &--content{
            background: linear-gradient(#be000c, 50%, #000);
            padding-bottom: 4vw;
            .title{
                opacity: 0;
                transform: translateY(40px);
                padding-top: 8vw;
                color: #fff;
                text-align: center;
                .title-thin, .title-strong{
                    display: inline-block;
                }
            }
            .list-area{
                width: 88vw;
                left: 6vw;
                position: relative;
                margin-top: 8vw;
                &__block{
                    &--item{
                        background: #F4F4F4;
                        width: 100%;
                        margin-bottom: 5vw;
                        color: #212121;
                        padding: 6vw;
                        opacity: 0;
                        transform: translateY(40px);
                        .item-title{
                            @include fontInfo(5.5vw, 9vw, -0.05em);
                            @include fw-bold;
                            &--sub{
                                @include fontInfo(4vw, 9vw, -0.05em);
                                @include fw-medium;
                                float: right;
                                &:after{
                                    @include clear;
                                }
                            }
                        }
                        .underline{
                            background: url($mimgPath + 'assassin-info__underline.png') no-repeat;
                            background-size: 100%;
                            width: 100%;
                            height: 2vw;
                            display: block;
                            margin-top: 2vw;
                            margin-bottom: 2vw;
                        }
                        .item-content{
                            @include fontInfo(4vw, 6.8vw, -0.05em);
                            @include fw-regular;
                        }
                    }
                }
            }
        }

    }
}

.epilogue{
    width: 100%;
    height: 170vw;
    background: #000;
    overflow: hidden;
    &__background{
        width: 100%;
        height: 100%;

        &-illust{
            background: url($mimgPath + 'epilogue_illust.png') no-repeat;
            position: absolute;
            background-size: 100%;
            width: 100vw;
            height: 200vw;
            top: 0;
            opacity: 0;
        }
        @for $i from 1 through 3{
            &-rain#{$i}{
                background: url($mimgPath + 'epilogue_rain_#{$i}.png') no-repeat;
                @if $i >= 2{
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-size: cover;
                    opacity: 0;
                }
            }
        }
        &-rain1{
            position: absolute;
            background-size: 100%;
            width: 100vw;
            height: 150vw;
            z-index: 2;
            top: 0;
            opacity: 0;
            transform: translateY(-30px);
        }
    }
    &__inner{
        width: 100%;
        height: 68vw;
        position: absolute;
        bottom: 0;
        color: #fff;
        width: 88vw;
        left: 6vw;
        &--area{
            &-headline{
                @include fontInfo(7vw, 9vw, -0.05em);
                @include fw-medium;
                opacity: 0;
                transform: translateY(40px);
            }
            &-explain{
                margin-top: 14vw;
                @include fontInfo(4.4vw, 7.2vw, -0.05em);
                @include fw-demilight;
                opacity: 0;
                transform: translateY(40px);
            }
        }
        &--gradient{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 80vw;
            background: linear-gradient(transparent, 30%, #000);
        }
    }
}

.video-area{
    padding: 0;
    background: #000;
    .outro__video--panel-in{
        display: block;
        width: 100%;
        max-width: 640px;
        margin: 0 auto;
    }
}

.outro{
    padding: 0;
    background: #F5F5F5;
    height: 150vw;
    &__inner{
        color: #212121;
        @include box_container(88vw, 0, 0, 0, -44vw, 0, 50%);
        z-index: 2;
        height: 100%;

        &--headline{
            color: #10A0DB;
            @include fontInfo(12.5vw, 15vw, 0);
            @include fw-bold;
            margin-top: 15vw;
            margin-bottom: 3vw;
            opacity: 0;
            transform: translateY(40px);
        }
        &--text{
            &-first{
                color: #1D1D1D;
                margin-bottom: 6vw;
                @include fontInfo(3.6vw, 6.5vw, -0.05em);
                @include fw-demilight;
                opacity: 0;
                transform: translateY(40px);
            }
            &-second{
                color: #015AAB;
                margin-bottom: 6vw;
                @include fontInfo(3.6vw, 6.5vw, -0.05em);
                @include fw-bold;
                opacity: 0;
                transform: translateY(40px);
            }
        }
        &--quiz, &--homepage{
            border: 2px solid #10A0DB;
            border-radius: 7vw;
            width: 58vw;
            height: 15vw;
            background: none;
            position: absolute;
            left: 50%;
            margin-left: -29vw;
            margin-top: 6vw;
            opacity: 0;
        }
        &--quiz{
            margin-top: 25vw;
        }
        &--btn-text{
            color: #10A0DB;
            @include fontInfo(4.2vw, 9vw, -0.05em);
            @include fw-medium;
        }
    }
}


.brand-identity img{
    top: 5px;
}


@keyframes checked-ture{
    0%{
        background: #BA0000;
    }
    60%{
        background: #C22C2C;
    }
    100%{
        background: #BA0000;
    }
}

@keyframes checked-false{
    0%{
        background: #B10000;
    }
    60%{
        background: #8F0101;
    }
    100%{
        background: #B10000;
    }
}

