/* 하단 카피라이트 관련 클레스 영역 */
$defaultSkin : #efefef, #818181, #666, 0.5 ;
$blackSkin : #020300, #cacaca, #cacaca, 1 ;

.copyright{
    font-family: sans-serif;
    position:relative;
    padding:40px 0;
    text-align:center;
    font-size:.75rem;
    font-weight:200;
    background:  #{nth($defaultSkin, 1)};
    color:  #{nth($defaultSkin, 2)};
    p{
        letter-spacing:0;
        height:16px;
        font-size:.688rem;
        margin:8px 0;
        .bold{
            font-weight:700;
        }
        &.p-text{
            font-weight:400;
            letter-spacing:1px;
            height:15px;
            margin:8px 0;
            color:  #{nth($defaultSkin, 2)};
        }
        &.eng01{
            font-weight:400;
            letter-spacing:1px;
            height:24px;
            font-size:.6rem;
            padding-top:0px;
            margin:0px 0 30px 0;
        }
    }
    .copyrightfooter_btnset{
        position:absolute;
        bottom:0;
        width:100%;
        &:after{
            clear:both;
            content:'';
            display:table;
        }
        .copy_footer_btn1{
            text-align:center;
            min-height:40px;
            line-height:40px;
            letter-spacing:.5px;
            border-top:1px solid #ccc;
        }
        .copy_footer_btn2{
            float:left;
            position:relative;
            width:50%;
            text-align:center;
            min-height:40px;
            line-height:40px;
            letter-spacing:.5px;
            border-top:1px solid #ccc;
            &:before{
                content:'';
                position:absolute;
                top:0;
                left:0;
                width:1px;
                height:100%;
                background:#ccc;
            }
        }
        
        .footer_tel{
            transition:color .3s ease;
            color:  #{nth($defaultSkin, 2)};
            text-decoration:none;
            i{
                top:2px;
                width:16px;
                height:16px;
                background:url(/ilab/img/sprite.png?v=2) no-repeat -170px 0;
                background-size:200px;
                position:relative;
                display:inline-block;
                margin-right:0px;
                vertical-align:baseline;
                margin-left:10px;
                opacity:  #{nth($defaultSkin, 4)};
            }
        }
    }
    .footer_mail{
        transition:color .3s ease;
        color:  #{nth($defaultSkin, 3)};
        text-decoration:none;
        i{
            width:18px;
            height:12px;
            background:url(/ilab/img/sprite.png?v=2) no-repeat -150px 0;
            background-size:200px;
            position:relative;
            display:inline-block;
            margin-right:2px;
            vertical-align:baseline;
            opacity:  #{nth($defaultSkin, 4)};

        }
    }
}

/* 하단 카피라이트 관련 클레스 영역 끝 */
